<h2 id= "what">Čo vieme poskytnúť a základné informácie</h2>
<p>
    Progressbar, ako miesto pre stretávanie ľudí a networking je ideálnym miestom pre konanie workshopov, prezentácií a kolaboratívne projekty. <br />
    Maximálna kapacita priestoru závisí od druhu akcie a pohybuje sa <strong>od 15 do 50 ľudí</strong>. <br />
    V súčasnosti sú k dispozícii <strong>dve miestnosti</strong> určené pre verejnosť.
    V prvej je k dispozícii niekoľko stolov vhodných pre rôznu prácu spolu so základným kancelárskym vybavenim. <br />
    Druhá miestnosť obsahujúca audio vizuálnu techniku, je prevažne usporiadaná na konanie prezentácií a networking ľudí.
    V rámci tejto miestnosti je k dispozícii minikuchynka s chladničkou a mikrovlnkou. <br />
    Zároveň je k dispozícii základné <strong>občerstvenie dostupné každému</strong> s možnosťou dobrovoľného príspevku na chod Progressbaru. <br />
    Prispiet na chod Progresbaru je možné aj online, 
    viac informácii nájdete na stránke venovanej <a href="/pridaj-sa">novým členom a podporovateľom</a> hackerspacu.
</p>
<p>Fotky ako to v Progressbare približne vyzerá mǒžte nájsť vo <a href="kontakt/interier">fotogalérii interíeru</a>.
</p>

<hr />

<h2 id="how">Ako sa dozvedieť o akciách?</h2>
<ul><li>followujte nás <a title="https://twitter.com/progressbarsk" href="https://twitter.com/progressbarsk">na twittri </a>
    </li>
    <li><a title="https://progressbar.sk/events.ics" href="https://progressbar.sk/events.ics">subscribnite si náš kalendár (iCal export)</a>
    </li>
    <li><a title="https://progressbar.sk/events.rss" href="https://progressbar.sk/events.rss">subscribnite si náš RSS feed</a>
    </li>
</ul>
<p>Odkazy aj na iné sociálne siete v prípade záujmu nájdete v <a href="#footer">pätičke stránky</a>.
<hr />

<h2 id="faq">Často kladené otázky</h2>

<dl>

    <dt id="faq-1">Chcem zorganizovať komerčnú akciu v Progressbare, aká je cena?</dt>
    <dd>
        <p><strong>Zadarmo</strong>, avšak v Progressbare nieje možné uskutočnovať uzavreté
            komerčné akcie. <br />
            Priestor vieme poskytnúť bezplatne, ale celá akcia musí byt takisto
            bezplatne a dostupná komukoľvek. <br />
            Samozrejme toto sa netýka výdajov spojených so samotným konáním akcie (napr. technické pomócky, hardware a pod.),
            ktoré by si mal zabezpečiť, alebo hradiť účastník danej akcie sám.
        </p>
    </dd>
    <dt id="faq-2">Môžem v Progressbare zorganizovať súkromnú, neverejnú akciu?</dt>
    <dd><p>Áno, za rovnakých podmienok ako pri komečných akciách.</p></dd>
    <dt id="faq-3">Mám v Progressbare k dispozíci projektor, flip chart alebo iné prezentačné pomôcky?</dt>
    <dd><p>Áno, tieto pomócky by mali byť k dispozícíi, prípadne je možné zabezpečiť.<br />
            Ideálne, ak nás <a href="#body_content_left">dopredu kontaktujete</a> so svojimi požiadavkami a potrebami, 
            aby sme včas a všetko zarezervovali, alebo zaobstarali.</p>
    </dd>

    <dt id="faq-4">Možem si priniesť vlastný počítač, techniku etc.?</dt>
    <dd><p>Ľubovoľnú techniku si  je možno doniesť vlastnú,
            ale treba si ju po sebe aj odniesť, hlavne ak zaberá veľa miesta.
            Ináč si vyhradzujeme právo ju použiť na vlastné účely.  <br />
            Užitočným darom sa ale nebránime. :)</p>
    </dd>

    <dt id="faq-5">Je v Progressbare k dispozícii občerstvenie, alebo si je dovolené priniesť vlastné?</dt>
    <dd>
        <p>
            Áno, viď <a href="#what">základné informácie</a>. Dobrým zvykom je prispieť na chod hackerspacu minimálne do výšky občerstvenia,
            ktoré človek počas pobytu skonzumuje. Zároveň si je možné priniesť, alebo objednať vlastné občerstvenie.
            V každom prípade je predpokladané, že každý má civilizované stravovacie návyky, a neobťažuje správaním ostatných.<br />
            Inak povedané: nechováme sa ako prasce a každý si po sebe aj uprace :).

        </p>
    </dd>

    <dt id="faq-6">Aká je najbližsia pizzéria a číslo na donáškovú službu :) ?</dt>
    <dd><p>
            Všetky najbližšie stravovacie zariadenia a potravinové služby v blízkosti Progressbaru nájdete na wiki
            <a href="http://wiki.progressbar.sk/food">wiki.progressbar.sk/food</a>
        </p>
    </dd>
    <dt>Máte otázku na ktorú ste tu nenašli odpoveď?</dt>
    <dd>
        <p>
            <a href="/contact#new_inquiry"><strong>Napíšte nám, </strong></a>
            alebo nás navštívte a radi to s vami preberieme osobne.
        </p>
    </dd>
</dl>

<p class="font-size-large">
    V každom prípade neváhajte a <a href="/contact">prídite</a> do Progressbaru, <br />či už ako <a href="#new_inquiry">organizátor</a> alebo&nbsp;<a href="/events">účastník</a>&nbsp;akcie. <br />
    <strong>Budeme sa na vás tešiť!</strong>
</p>
