<h2 id="what">Čo vieme poskytnúť a źákladné informácie</h2>
<p>
    K dispozíi je {pocet_miestnosti} s celkovou kapacitou {celkova_kapacita}. 
    <br />
    -t- dalsie informacie o vybaveni a moznostiach progressbaru
</p>
<p>Fotky ako to v Progressbare približne vyzerá mǒžte nájsť vo <a href="kontakt/interier">fotogalérii interíeru</a>. 
</p>

<hr />

<h2 id="how">Ako sa dozvedieť o akciách?</h2>
<ul><li>followujte nás <a title="https://twitter.com/progressbarsk" href="https://twitter.com/progressbarsk">na twittri </a>
</li>
<li><a title="https://progressbar.sk/events.ics" href="https://progressbar.sk/events.ics">subscribnite si náš kalendár (iCal export)</a>
</li>
<li><a title="https://progressbar.sk/events.rss" href="https://progressbar.sk/events.rss">subscribnite si náš RSS feed</a>
</li>
</ul>

<hr />

<h2 id="faq">Často kladené otázky</h2>

<dl>

<dt id="faq-1">Chcem zorganizovať komerčnú akciu v Progressbare, aká je cena?</dt>
<dd><p>-t- odpoved 1</p></dd>

<dt id="faq-2">Môžem v Progressbare zorganizovať súkromnú, neverejnú akciu?</dt>
<dd><p>-t- odpoved 2</p></dd>

<dt id="faq-3">Mám v Progressbare k dispozíci projektor, flip chart alebo iné prezentačné pomôcky?</dt>
<dd><p>-t- odpoved 3</p></dd>

<dt id="faq-4">Možem si priniesť vlastný počítač, techniku etc.?</dt>
<dd><p>-t- odpoved 4</p></dd>

<dt id="faq-5">Je v Progressbare k dispozícii občerstvenie alebo si je dovolené priniesť vlastné?</dt>
<dd><p>-t- odpoved 5</p></dd>

<dt id="faq-6">Aká je najbližsia pizzéria a číslo na donáškovú službu :) ?</dt>
<dd><p>-t- odpoved 6</p></dd>
</dl>
