
<ul>
    <li>
        LOGO: by <a href="http://zden.satori.sk/">Zdeno Hlinka (Zden)</a>
    </li>

    <li>
        CMS: <a href="http://refinerycms.com/">Refinery CMS</a>
    </li>
    <li>
        Language: <a href="http://www.ruby-lang.org/">Ruby</a> on <a href="http://rubyonrails.org/">Rails web framework</a>
    </li>
    <li>
        JS libraries: <a href="http://jquery.com/">JQuery</a>,
        <a href="http://jqueryui.com/">JQuery UI</a>,
        <a href="http://www.modernizr.com/">Modernizr</a>,
        <a href="http://fancybox.net">FancyBox</a>
    </li>
    <li>
        Server hosting: <a href="http://digmia.com/">Digmia</a>
    </li>
    <li>
        Icons: <a href="http://www.komodomedia.com">Komodo Social Network Icon Pack</a>
    </li>
    <li>
        Homepage banner images:
        <a href="http://www.flickr.com/photos/maltman23/sets/72157624872337593/with/5008751768/">Mitch Altman</a>,
        <a href="http://www.flickr.com/photos/30217284@N03/sets/72157626105435542/with/5465782669/">Vera Kisel</a>,
        <a href="http://mapy.cz">Mapy.cz</a>
    </li>
</ul>