<h3>Všeobecné dotazy a informácie</h3>
<p>
    <a href="mailto:info@progressbar.sk">info@progressbar.sk</a><span class="delim">&nbsp;|&nbsp;</span>
    <a href="#contact-form">kontaktný formulár</a>
</p>
<h3>Technická podpora (web)</h3>
<p>
    <a href="mailto:webmaster@progressbar.sk">webmaster@progressbar.sk</a>
</p>
<h3>IRC</h3>
<p>
    <a rel="nofollow" href="http://webchat.freenode.net/?nick=pbar337&amp;channels=progressbar&amp;prompt=1">irc.freenode.net/#progressbar</a><br>
</p>
 <h3>Telefón</h3>
<p>
    02/32603287
</p>