<section class="left-section">
    <div class="clearfix">
        <div class="left-half">
            <h2 id="post-address">Poštová adresa</h2>
            <address class="vcard">
                <p>
                    <strong><a href="http://www.progressbar.sk/" class="url fn org ">Progressbar Hackerspace</a></strong><br />
                    <span class="adr">
                        <span class="street-address">Cukrová 14</span>,<br />
                        <span>
                            <span class="locality">Bratislava</span>,<br />
                            <span class="postal-code">94107</span>,<br />
                        </span>
                        <span class="country-name">Slovensko</span><br />
                    </span>
                </p>
            </address>
        </div>
        <div class="right-half">
            <h2>Fakturačné údaje</h2>
            <p>
                Progressbar<br />
                Lazaretská 12, 81108 Bratislava, <br />
                Slovenská republika
            </p>
            <p>
                IČO: 42180023
            </p>
        </div>
    </div>
    <div class="clearfix">
        <div>
            <h2>Bankový účet:</h2>
            <p>
                Číslo: 2600121198/8330<br />
                <abbr title="pre platby zo zahraničia">IBAN</abbr>: SK1583300000002600121198<br />
                BIC/SWIFT: FIOZSKBAXXX <br />
            </p>
        </div>
        <div>
            <h2>Bitcoin</h2>
            <p>
                18qKmRKFTGzdEW5GiBnwmCdLN54813ceN3
            </p>
        </div>
    </div>

    <div>
        <h2 id="mhd">MHD</h2>
        <p>
            Trolejbusy 206 a 208 stoja na zástavke Špitálska (najbližšia k
            Progressbaru). Trolejbus 202 na zástavke Cintorínska. Taktiež je
            možné použiť zástavku Mariánska, kde stoja električky 1, 4, 7,
            11, 14, 17. Na vyhľadanie spojov použite napríklad <a href="http://www.imhd.sk/">imhd.sk</a>.
        </p>
        <h2 id="map">Parkovanie</h2>
        <p>
          Parkovanie v starom meste je po 16:00 v pracovné dni a počas
		víkendov a sviatkov zdarma. Cez týždeň do 16:00 je možné
		parkovanie zaplatiť <a href="http://www.m-parking.sk/index.jsp?page=menu11">pomocou SMS</a>
		zo slovenského čísla alebo kontaktovať predajcu stieracích
		kartičiek. Druhá možnosť je zaparkovať v garáži mamut na
		Ferienčíkovej ulici (pri Bille). </p>

    </div>
</section>
<h2 id="contact-form" >Kontaktný formulár</h2>