<section class="left-section">
    <div class="clearfix">
        <div class="left-half">
            <h2 id="post-address">Postal address</h2>
            <address class="vcard">
                <p>
                    <strong><a href="http://www.progressbar.sk/" class="url fn org ">Progressbar Hackerspace</a></strong><br />
                    <span class="adr">
                        <span class="street-address">Cukrová 14</span>,<br />
                        <span>
                            <span class="locality">Bratislava</span>,<br />
                            <span class="postal-code">94107</span>,<br />
                        </span>
                        <span class="country-name">Slovensko</span><br />
                    </span>
                </p>
            </address>
        </div>
        <div class="right-half">

            <h2>Billing information</h2>
            <p>
                Progressbar<br />
                Lazaretská 12, 81108 Bratislava, <br />
                Slovak republic

            </p>
            <p>
                IČO: 42180023
            </p>
        </div>
    </div>
    <div class="clearfix">
        <div>
            <h2>Bank account:</h2>
            <p>
                Number: 2600121198/8330<br />
                <abbr title="for payments from abroad">IBAN</abbr>: SK1583300000002600121198<br />
                BIC/SWIFT: FIOZSKBAXXX <br />
            </p>
        </div>
        <div >
            <h2>Bitcoin</h2>
            <p>
                18qKmRKFTGzdEW5GiBnwmCdLN54813ceN3
            </p>
        </div>
    </div>
</section>
<h2>Contact form</h2>