<h1>Galéria</h1>
<nav id="gallery-nav">
  <h2>
    <a href="/gallery" >
      Logo &amp; Média
    </a>
    <span class="delim">&nbsp;|&nbsp;</span>
    <strong>
     Akcie 
    </strong>
    <span class="delim">&nbsp;|&nbsp;</span>
    <a  href="/gallery-projects"  >
      Projekty 
    </a>
    <span class="delim">&nbsp;|&nbsp;</span>
    <a  href="/gallery-place"  >
      Priestory
    </a>
    <span class="delim">&nbsp;|&nbsp;</span>
    <a  href="/gallery-map"  >
      Mapa
    </a>
  </h2>
</nav>