<div id="gallery-projects" class="section">
<div>
    <h3>
        <a href="https://www.facebook.com/media/set/?set=a.381957255153556.113206.140864112596206&type=3" title="Viac fotiek na facebooku">
            Infinity mirror workshop
        </a></h3>
    <p>
        <a href="https://www.facebook.com/media/set/?set=a.381957255153556.113206.140864112596206&type=3" title="Viac fotiek na facebooku">
        <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/s720x720/554252_501711889844758_1470691425_n.jpg">
        </a>
    </p>
</div>
<div>
    <h3><a href="https://www.facebook.com/media/set/?set=a.443772638972017.125271.140864112596206&type=3">Infinity mirror workshop</a></h3>
    <p>
        <a href="https://www.facebook.com/media/set/?set=a.443772638972017.125271.140864112596206&type=3">
        <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-snc7/578340_443773445638603_425732062_n.jpg">
        </a>
    </p>
</div>
<div>
    <h3><a href="https://www.facebook.com/media/set/?set=a.381957255153556.113206.140864112596206&type=3" title="Viac fotiek na facebooku">blinkenwall-makingof</a></h3>
    <p>
        <a href="https://www.facebook.com/media/set/?set=a.381957255153556.113206.140864112596206&type=3" title="Viac fotiek na facebooku">
        <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/s720x720/398757_381960481819900_1333520830_n.jpg">
        </a>
    </p>
</div>
</div>
