<h1>Galéria</h1>
<nav id="gallery-nav">
  <h2>
    <strong>
      Logo &amp; Média
    </strong>
    <span class="delim">&nbsp;|&nbsp;</span>
    <a  href="/gallery/actions"  >
     Akcie 
    </a>
    <span class="delim">&nbsp;|&nbsp;</span>
    <a  href="/gallery/projects"  >
      Projekty 
    </a>
    <span class="delim">&nbsp;|&nbsp;</span>
    <a  href="/gallery/place"  >
      Priestory
    </a>
    <span class="delim">&nbsp;|&nbsp;</span>
    <a  href="/gallery/map"  >
      Mapa
    </a>
  </h2>
</nav>