<div id="gallery-map" class="section clearfix">
    <div>
    <iframe style="width:950px; height:400px;" src="http://embedded.freemap.sk/?lon=17.119304008665745&amp;lat=48.14871240410706&amp;zoom=16&amp;marker=https://progressbar.sk/system/images/BAhbBlsHOgZmIjQyMDEyLzAyLzIzLzIwXzE0XzQyXzM4Ml8yNDg0MDc2ODkxMDQzOTA0MDQxLnBuZw/2484076891043904041.png&amp;layers=A" scrolling="no" marginheight="0" marginwidth="0" frameborder="0"></iframe>
    </div>
    <p>
    Prejsť na mapy: 
    <a href="http://www.freemap.sk/?lon=17.11961&amp;lat=48.14862&amp;zoom=16&amp;marker=1">Freemap.sk</a>, 
    <a href="http://www.openstreetmap.org/?mlat=48.1486089527607&amp;mlon=17.1197891235352&amp;zoom=17">OpenStreetMap</a>,
    <a href="http://mapy.cz/#x=17.120509&amp;y=48.148508&amp;z=16&amp;umc=9njaOx6vS2&amp;uml=48%C2%B08%2754.709%22N%2C%2017%C2%B07%2710.398%22E&amp;u=m">Mapy.cz</a>, 
    <a href="http://maps.google.com/maps?q=Cukrov%C3%A1+2272%2F14,+81108+Bratislava+-+Star%C3%A9+Mesto-Star%C3%A9+Mesto,+Slovakia&amp;hl=en&amp;ie=UTF8&amp;sll=37.0625,-95.677068&amp;sspn=57.161276,114.169922&amp;z=16">Google Maps</a>.
    </p>
    <hr />
    <h3>Foto návod<h3>
    <div>
        <table><tbody>
            <tr>
                <td>
                    <p><a id="ked-idete-k-nam-z-29augusta-na-cukrovu">1. Ked idete k nám z 29.augusta na Cukrovú</a></p>
                    <p>
                        <a href="http://wiki.progressbar.sk/_media/sk/img_3791a.jpg?id=photo-nav" class="lightbox" title="sk:img_3791a.jpg"><img src="http://wiki.progressbar.sk/_media/sk/img_3791a.jpg?w=300" class="lightbox" title="img_3791a.jpg" alt="img_3791a.jpg" width="440"></a>
                    </p>
                </td>
                <td>
                    <p><a id="alebo-priamo-po-cukrovej">2. Alebo priamo po Cukrovej</a></p>
                    <p>
                        <a href="http://wiki.progressbar.sk/_media/sk/img_3789a.jpg?id=photo-nav" class="lightbox" title="sk:img_3789a.jpg"><img src="http://wiki.progressbar.sk/_media/sk/img_3789a.jpg?w=300" class="lightbox" title="img_3789a.jpg" alt="img_3789a.jpg" width="440"></a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><a id="napravo-v-smere-jednosmerky-je-pod-urovnovy-vjazd">3. Napravo v smere jednosmerky je pod-úrovňový vjazd</a></p>
                    <p>
                        <a href="http://wiki.progressbar.sk/_media/sk/img_3790a.jpg?id=photo-nav" class="lightbox" title="sk:img_3790a.jpg"><img src="http://wiki.progressbar.sk/_media/sk/img_3790a.jpg?w=300" class="lightbox" title="img_3790a.jpg" alt="img_3790a.jpg" width="440"></a>
                    </p>
                </td>
                <td>
                    <p><a id="za-rampou-po-pravej-strane-su-schodiky-za-nimi-zelene-plechove-dvere">4. Za rampou po pravej strane su schodíky, za nimi zelené plechové dvere</a></p>
                    <p>
                        <a href="http://wiki.progressbar.sk/_media/sk/img_3771a.jpg?id=photo-nav" class="lightbox" title="sk:img_3771a.jpg"><img src="http://wiki.progressbar.sk/_media/sk/img_3771a.jpg?w=300" class="lightbox" title="img_3771a.jpg" alt="img_3771a.jpg" width="440"></a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <strong>5. Dalsia fotka by mala byt este zvoncek! :)</strong>
                    </p>
                </td>
                <td>&nbsp;
                </td>
            </tr>
        </tbody></table>

        </div>
    </div>
</div>