<div id="gallery-actions" class="section">
<div>
    <h3>
        <a href="https://www.facebook.com/media/set/?set=a.509248245757789.135531.140864112596206&type=3">
            HW čistička II.</a></h3>
    <p>
        <a href="https://www.facebook.com/media/set/?set=a.509248245757789.135531.140864112596206&type=3">
        <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-snc6/s720x720/251986_509249139091033_734422387_n.jpg">
        </a>
    </p>
</div>
<div>
    <h3>
        <a href="https://www.facebook.com/media/set/?set=a.504191006263513.133939.140864112596206&type=3">
            úvod do 3D tlačiarní
        </a></h3>
    <p>
        <a href="https://www.facebook.com/media/set/?set=a.504191006263513.133939.140864112596206&type=3">
        <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-snc7/s720x720/417569_504192036263410_1993894659_n.jpg">
        </a>
    </p>
</div>
</div>
