<div id="gallery-place" class="section clearfix">
    <div>
        <table style="width: 919px; "><tbody><tr><td><a title="sk:progressbar - interier" class="lightbox" href="http://wiki.progressbar.sk/_media/sk/hunterkiller702.jpg"><img rel="225x255" alt="Progressbar Lounge" title="Progressbar Lounge" src="../../../system/images/BAhbBlsHOgZmIjIyMDExLzExLzIyLzE0XzM3XzIwXzM2X3Byb2dyZXNzYmFyX2xvdW5nZS5naWY/progressbar-lounge.gif" height="375" width="500" /></a>
        </td><td><img rel="225x255" alt="Progressbar Lab2" title="Progressbar Lab2" src="../../../system/images/BAhbBlsHOgZmIjEyMDExLzExLzIyLzE0XzM5XzQ5XzE4N19wcm9ncmVzc2Jhcl9sYWIyLmdpZg/progressbar-lab2.gif" height="375" width="500" /></td>
        </tr><tr><td><img rel="225x255" alt="Progressbar Lab1" title="Progressbar Lab1" src="../../../system/images/BAhbBlsHOgZmIjEyMDExLzExLzIyLzE0XzM5XzI2XzgzN19wcm9ncmVzc2Jhcl9sYWIxLmdpZg/progressbar-lab1.gif" height="375" width="500" /></td>
        <td><img rel="225x255" alt="Progressbar Helloworld" title="Progressbar Helloworld" src="../../../system/images/BAhbBlsHOgZmIjcyMDExLzExLzIyLzE0XzQwXzIxXzQyMV9wcm9ncmVzc2Jhcl9oZWxsb3dvcmxkLmdpZg/progressbar-helloworld.gif" height="375" width="500" /></td>
        </tr></tbody>
        </table>
    </div>
</div>
