<section id="promo" class="clearfix">
  <div id="promo-content">
    <div id="promo-what" class="promo-item promo-item-1">
      <div class="promo-text">
        <p>
            Vitajte na stránkach prvého slovenského <br />
            <a href="http://en.wikipedia.org/wiki/Hackerspace">hackerspace</a> <strong>progressbar.sk</strong>.
        </p>
      </div>
    </div>
    <div id="promo-why" class="promo-item promo-item-2">
      <div class="promo-text">
        <p>
            <strong>Sme</strong> prvým fyzickým priestorom v <strong>Bratislave</strong> pre stretávanie <strong>hackerov</strong>, <br />
            digitálnych <strong>umelcov</strong>, geekov, hardvérových <strong>mágov</strong> <br />
            a <strong>podobne</strong> zmýšľajúcich <strong>ľudí</strong>.
        </p>
      </div>
    </div>
    <div id="promo-where" class="promo-item promo-item-3">
      <div class="promo-text">
        <p>
            Nachádzame sa v centre <strong>Bratislavy</strong> <br />
      na <strong>Cukrovej 14</strong>, blízko medickej záhrady <br />
      a autobusovej stanice <strong>Mlynské Nivy</strong>.
        </p>
      </div>
    </div>
    <div id="promo-more" class="promo-item promo-item-4">
      <div class="promo-text">
        <p>
            Pravidelne sa u nás konajú zaujímavé prednášky, <br />
            workshopy a stretnutia rôznych komunít.
        </p>
        <p>
            Snažíme sa byť maximálne otvorení a vítame nových aktívnych členov, <br />
            prídite na jednu z našich stretávok alebo akcií. <br />
            Väčšina akcií Progressbaru je zadarmo.
        </p>
      </div>
    </div>
    <span class="img-bg">&nbsp;</span>
  </div>
  <nav id="promo-nav">
    <a href="#promo-what">
      <span class="symbol">α</span>
      Čo</a>
    <span class="delim">&#160;|&#160;</span>
    <a href="#promo-why">
      <span class="symbol">ω</span>
      Prečo</a>
    <span class="delim">&#160;|&#160;</span>

    <a href="#promo-where">
      <span class="symbol">×</span>
      Kde</a>
    <span class="delim">&#160;|&#160;</span>
    <a href="#promo-more">
      <span class="symbol">&gt;</span>
      Viac</a>
  </nav>
  <div id="promo-action">
    <a href="/pridaj-sa" class="button large">
        Pridaj sa k nám alebo nás podpor!
    </a>
  </div>
</section>

