<h1>Pridaj sa k nám a staň sa členom alebo podporovateľom hackerspacu.</h1>
<div class="clearfix">
    <div id="member-promo" class="join-box left-half">
        <header class="header">
            <h2>Člen</h2>
            <div class="price">
                <strong>20 </strong>€ / mesiac
                <a class="discount" href="#payments">pre študentov <strong>50% zľava</strong></a>
            </div>
        </header>
        <div class="content">
            <ul>
                <li>
                    Možnosť využívať priestor a zariadenie hackerspacu
                </li>
                <li>Zľavy na rôzne predmety a nákupy</li>
                <li>Zľavy na medzinárodné konferencie</li>
                <li>Spolurozhodovanie o chode Progressbaru</li>
                <li>Prístup k neverejným materiálom a informáciám</li>
                <li><a href="#member-description">..a mnoho viac</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="supporter" class="join-box right-half">
        <header class="header">
            <h2>Podporovateľ
            </h2>
            <div class="price">
                Dobrovoľné
            </div>
        </header>
        <div class="content">
            <ul>
                <li>Žiadne záväzky a povinnosti</li>
                <li>Ľubovolný typ, výška a forma podpory</li>
                <li>Možnosť stať sa aktívnym členom</li>
                <li>Voliteľný <a href="/odkazy">zápis medzi sponzorov a podporovateľov</a></li>
                <li>Dobrý pocit ;-)</li>
            </ul>
        </div>
    </div>
</div>