<h1>Join us and become a member or supporter of hackerspace.</h1>
<div class="clearfix">
    <div id="member-promo" class="join-box left-half">
        <header class="header">
            <h2>Member</h2>
            <div class="price">
                <strong>20 </strong>€ / month
                <a class="discount" href="#payments">for students <strong>50% discount</strong></a>
            </div>
        </header>
        <div class="content">
            <ul>
                <li>
                    Opportunity to use space and equipment of hackerspace
                </li>
                <li>
                    Discounts on various items and purchases
                </li>
                <li>Discounts on international conferences</li>
                <li>Involvement in the running of Progressbar hackerspace</li>
                <li>Access to non-public materials and informations</li>
                <li>..and even more</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="supporter" class="join-box right-half">
        <header class="header">
            <h2>Supporter
            </h2>
            <div class="price">
                Free
            </div>
        </header>
        <div class="content">
            <ul>
                <li>No commitments and obligations</li>
                <li>Any type, height and form of aid</li>
                <li>Opportunity to become an active member</li>
                <li>Optional <a href="/en/links">registration between the sponsors and supporters</a></li>
                <li>Good feeling ;-)</li>
            </ul>
        </div>
    </div>
</div>