<h2>Foto navigácia</h2>
<div id="tabs-2">
		<div class="float-left">
			<p><a id="ked-idete-k-nam-z-29augusta-na-cukrovu">1. Ked idete k nám z 29.augusta na Cukrovú</a></p>
		<p>
			<a href="http://wiki.progressbar.sk/_media/sk/img_3791a.jpg?id=photo-nav" class="lightbox" title="sk:img_3791a.jpg"><img src="http://wiki.progressbar.sk/_media/sk/img_3791a.jpg?w=300" class="lightbox" title="img_3791a.jpg" alt="img_3791a.jpg" width="440"></a>
		</p>
		</div>
		<div class="float-right">
		<p><a id="alebo-priamo-po-cukrovej">2. Alebo priamo po Cukrovej</a></p>
		<p>
			<a href="http://wiki.progressbar.sk/_media/sk/img_3789a.jpg?id=photo-nav" class="lightbox" title="sk:img_3789a.jpg"><img src="http://wiki.progressbar.sk/_media/sk/img_3789a.jpg?w=300" class="lightbox" title="img_3789a.jpg" alt="img_3789a.jpg" width="440"></a>
		</p>
		</div>
		<div class="reset">&nbsp;</div>
		<div class="float-left">
		<p><a id="napravo-v-smere-jednosmerky-je-pod-urovnovy-vjazd">3. Napravo v smere jednosmerky je pod-úrovňový vjazd</a></p>
		<p>
			<a href="http://wiki.progressbar.sk/_media/sk/img_3790a.jpg?id=photo-nav" class="lightbox" title="sk:img_3790a.jpg"><img src="http://wiki.progressbar.sk/_media/sk/img_3790a.jpg?w=300" class="lightbox" title="img_3790a.jpg" alt="img_3790a.jpg" width="440"></a>
		</p>
		</div>
		<div class="float-right">
		<p><a id="za-rampou-po-pravej-strane-su-schodiky-za-nimi-zelene-plechove-dvere">4. Za rampou po pravej strane su schodíky, za nimi zelené plechové dvere</a></p>
		<p>
			<a href="http://wiki.progressbar.sk/_media/sk/img_3771a.jpg?id=photo-nav" class="lightbox" title="sk:img_3771a.jpg"><img src="http://wiki.progressbar.sk/_media/sk/img_3771a.jpg?w=300" class="lightbox" title="img_3771a.jpg" alt="img_3771a.jpg" width="440"></a>
		</p>
		</div>
		<div class="reset">&nbsp;</div>
		<div class="float-left">
		<p>
			<strong>5. Dalsia fotka by mala byt este zvoncek! :)</strong>
		</p>
		</div>
		<div class="reset">&nbsp;</div>
	</div>
