<section class="left-section">
	<h2 id="post-address">Poštová adresa</h2>
	<address class="vcard">
		<p>
			<strong><a href="http://www.progressbar.sk/" class="url fn org ">Progressbar Hackerspace</a></strong><br />
			<span class="adr">
				<span class="street-address">Cukrová 14</span>,<br />
				<span>
					<span class="locality">Bratislava</span>,<br />
					<span class="postal-code">94107</span>,<br />
				</span>
				<span class="country-name">Slovensko</span><br />
			</span>
		</p>
	</address>
	<h2>Fakturačné údaje</h2>
	<p>
		-t- sem doplnit fakturacne udaje zdruzenia !!!
	</p>
	<h2>Bankový účet:</h2>
	<p>
		Číslo: 2600121198/8330<br />
		<abbr title="pre platby zo zahraničia">IBAN</abbr>: SK1583300000002600121198<br />
		BIC/SWIFT: FIOZSKBAXXX <br />
	</p>
</section>
<section class="right-section">
	<h3>Štatutárny zástupca:</h3>
	<p>
		<strong>-t- Juraj Široký</strong><br />
		<a href="mailto:predseda@progressbar.sk">-t-predseda@progressbar.sk</a><br />
		<a href="mailto:predseda@progressbar.sk">+000 000 000</a>
	</p>
	<h3>PR a médiá:</h3>
	<p>
		<strong>-t- Katarína Križanová Rýsová</strong><br />
		<a href="mailto:predseda@progressbar.sk">-t-predseda@progressbar.sk</a><br />
		<a href="mailto:predseda@progressbar.sk">+000 000 000</a>
	</p>
	<h3>IRC</h3>
	<p>
		<a href="http://webchat.freenode.net/?nick=pbar337&amp;channels=progressbar&amp;prompt=1" rel="nofollow">irc.freenode.net/#progressbar</a><br />
	</p>
	<h3>E-mail</h3>
	<p>
		<a href="mailto:info@progressbar.sk">info@progressbar.sk</a><br />
	</p>
</section>
<div class="reset">&nbsp;</div>
<section class="left-section">
	<h2 id="mhd">MHD</h2>
	<p>
		Trolejbusy 206 a 208 stoja na zástavke Špitálska (najbližšia k
		Progressbaru). Trolejbus 202 na zástavke Cintorínska. Taktiež je
		možné použiť zástavku Mariánska, kde stoja električky 1, 4, 7,
		11, 14, 17. Na vyhľadanie spojov použite napríklad <a href="http://www.imhd.sk/">imhd.sk</a>.
	</p>
	<h2 id="map">Parkovanie</h2>
	<p id="aui_3_2_0_195">
		Parkovanie v starom meste je po 16:00 v pracovné dni a počas
		víkendov a sviatkov zdarma. Cez týždeň do 16:00 je možné
		parkovanie zaplatiť <a href="http://www.m-parking.sk/index.jsp?page=menu11">pomocou SMS</a>
		zo slovenského čísla alebo kontaktovať predajcu stieracích
		kartičiek. Druhá možnosť je zaparkovať v garáži mamut na
		Ferienčíkovej ulici (pri Bille).
	</p>
</section>
<section class="right-section">
	<h3>Vstup z ulice</h3>
	<a href="http://farm4.static.flickr.com/3012/2981550995_4cf1628f29_z.jpg?zz=1" class="lightbox">
		<img src="http://placekitten.com/300/220" />
	</a>
</section>
<div class="reset">&nbsp;</div>
<section class="tabs">
	<ul>
		<li><a href="#tabs-1">Mapy</a></li>
		<li><a href="#tabs-2">Foto navigácia</a></li>
		<li><a href="#tabs-3">Interiér</a></li>
		<li><a href="#tabs-4">QR kódy</a></li>
	</ul>
	<div id="tabs-1">
		<img src="./images/content/freemap.jpg" />
		<br />
		Prejst na mapy: <a href="#">Freemapy.sk</a>, <a href="#">Mapy.cz</a>, <a href="#">Google Maps</a>.
	</div>
	<div id="tabs-2">
		<div class="float-left">
			<p><a id="ked-idete-k-nam-z-29augusta-na-cukrovu">1. Ked idete k nám z 29.augusta na Cukrovú</a></p>
		<p>
			<a href="http://wiki.progressbar.sk/_media/sk/img_3791a.jpg?id=photo-nav" class="lightbox" title="sk:img_3791a.jpg"><img src="http://wiki.progressbar.sk/_media/sk/img_3791a.jpg?w=300" class="lightbox" title="img_3791a.jpg" alt="img_3791a.jpg" width="440"></a>
		</p>
		</div>
		<div class="float-right">
		<p><a id="alebo-priamo-po-cukrovej">2. Alebo priamo po Cukrovej</a></p>
		<p>
			<a href="http://wiki.progressbar.sk/_media/sk/img_3789a.jpg?id=photo-nav" class="lightbox" title="sk:img_3789a.jpg"><img src="http://wiki.progressbar.sk/_media/sk/img_3789a.jpg?w=300" class="lightbox" title="img_3789a.jpg" alt="img_3789a.jpg" width="440"></a>
		</p>
		</div>
		<div class="reset">&nbsp;</div>
		<div class="float-left">
		<p><a id="napravo-v-smere-jednosmerky-je-pod-urovnovy-vjazd">3. Napravo v smere jednosmerky je pod-úrovňový vjazd</a></p>
		<p>
			<a href="http://wiki.progressbar.sk/_media/sk/img_3790a.jpg?id=photo-nav" class="lightbox" title="sk:img_3790a.jpg"><img src="http://wiki.progressbar.sk/_media/sk/img_3790a.jpg?w=300" class="lightbox" title="img_3790a.jpg" alt="img_3790a.jpg" width="440"></a>
		</p>
		</div>
		<div class="float-right">
		<p><a id="za-rampou-po-pravej-strane-su-schodiky-za-nimi-zelene-plechove-dvere">4. Za rampou po pravej strane su schodíky, za nimi zelené plechové dvere</a></p>
		<p>
			<a href="http://wiki.progressbar.sk/_media/sk/img_3771a.jpg?id=photo-nav" class="lightbox" title="sk:img_3771a.jpg"><img src="http://wiki.progressbar.sk/_media/sk/img_3771a.jpg?w=300" class="lightbox" title="img_3771a.jpg" alt="img_3771a.jpg" width="440"></a>
		</p>
		</div>
		<div class="reset">&nbsp;</div>
		<div class="float-left">
		<p>
			<strong>5. Dalsia fotka by mala byt este zvoncek! :)</strong>
		</p>
		</div>
		<div class="reset">&nbsp;</div>
	</div>
	<div id="tabs-3">
		<p>
			<a rel="interier" title="sk:img_3776.jpg" class="lightbox" href="http://wiki.progressbar.sk/_media/sk/img_3776.jpg?id=sk%3Amiesto"><img width="440" alt="img_3776.jpg" title="img_3776.jpg" class="lightbox" src="http://wiki.progressbar.sk/_media/sk/img_3776.jpg?w=200"></a>
			<!--													<a rel="interier" title="sk:img_3777.jpg" class="lightbox" href="http://wiki.progressbar.sk/_media/sk/img_3777.jpg?id=sk%3Amiesto"><img width="440" alt="img_3777.jpg" title="img_3777.jpg" class="lightbox" src="http://wiki.progressbar.sk/_media/sk/img_3777.jpg?w=200"></a>-->
			<a rel="interier" title="sk:img_3779.jpg" class="lightbox" href="http://wiki.progressbar.sk/_media/sk/img_3779.jpg?id=sk%3Amiesto"><img width="440" alt="img_3779.jpg" title="img_3779.jpg" class="lightbox" src="http://wiki.progressbar.sk/_media/sk/img_3779.jpg?w=200"></a>
			<a rel="interier" title="sk:img_3782.jpg" class="lightbox" href="http://wiki.progressbar.sk/_media/sk/img_3782.jpg?id=sk%3Amiesto"><img width="440" alt="img_3782.jpg" title="img_3782.jpg" class="lightbox" src="http://wiki.progressbar.sk/_media/sk/img_3782.jpg?w=200"></a>
		</p>
	</div>
	<div id="tabs-4">
		<div class="float-left">
			<img  src="./images/content/qr_contact_m.png"  width="440" />
			<br />
			VCARD
		</div>
		<div class="float-right">
			<img  src="./images/content/qr_contact_m.png" width="440" />
			<br />
			MAP URL
		</div>
		<div class="reset">&nbsp;</div>
	</div>
</section>
<h2 id="form">Kontaktný formulár</h2>