<div>
<img src="/images/content/freemap.jpg" />
<p>
Prejsť na mapy: 
<a href="http://www.freemap.sk/?l=2219-b7f1">Freemap.sk</a>, 
<a href="http://mapy.cz/#x=17.120509&y=48.148508&z=16&umc=9njaOx6vS2&uml=48%C2%B08%2754.709%22N%2C%2017%C2%B07%2710.398%22E&u=m">Mapy.cz</a>, 
<a href="http://maps.google.com/maps?q=Cukrov%C3%A1+2272%2F14,+81108+Bratislava+-+Star%C3%A9+Mesto-Star%C3%A9+Mesto,+Slovakia&hl=en&ie=UTF8&sll=37.0625,-95.677068&sspn=57.161276,114.169922&z=16">Google Maps</a>.
</p>
<div class="reset">&nbsp;</div>
</div>
