<div class="clearfix">
    <div class="left-half">
        <h2><a href="http://digmia.com/">Digmia</a>
        </h2>
        <p>
            <a href="http://digmia.com/"><img src="/assets/content/sponsors/digmia_logo_1.png" alt="Digmia - Logo" height="125" width="470" /></a>
        </p>
        <h2>
            <a href="http://www.elso.sk/">Elso</a>
        </h2>
        <p>
            <a href="http://www.elso.sk"><img src="/assets/content/sponsors/elso.png" alt="Elso - Logo" height="125" width="470" /></a>
        </p>
    </div>
    <div class="right-half">
        <h2><a href="https://www.nethemba.com/sk/">Nethemba</a>
        </h2>
        <p>
            <a href="https://www.nethemba.com/sk/"><img src="/assets/content/sponsors/nethemba_logo_1.png" alt="Nethemba - logo" height="132" width="470" /></a>
        </p>
    </div>
</div>

<h2>Hackerspaces Around &amp; FanWeb</h2>
<table>
<tr><td><h2><a href="http://www.brmlab.cz">BrmLab Prague</a>
</h2>
</td>
<td><h2><a href="http://www.base48.cz">Base48 Brno</a>
</h2>
</td>
</tr>
<tr><td><img src="https://progressbar.sk/system/images/BAhbB1sHOgZmIk8yMDEyLzA2LzE5LzIzXzU5XzQyXzE0OF85YzU0YzA1ZDMxYzE5NmVjODM0NjVkMzNlMTk3NjJmYi5tZWRpYS40MDl4NTc2LnBuZ1sIOgZwOgp0aHVtYiINMjI1eDI1NT4/9c54c05d31c196ec83465d33e19762fb.media.409x576.png" title="9c54c05d31c196ec83465d33e19762fb.Media.409x576" alt="9c54c05d31c196ec83465d33e19762fb.Media.409x576" rel="225x255" width="225" height="225" /></td>
<td><img src="https://progressbar.sk/system/images/BAhbB1sHOgZmIiYyMDEyLzA4LzEzLzE1XzA2XzM1XzE3X2Jhc2U0OC5wbmdbCDoGcDoKdGh1bWIiDTIyNXgyNTU+/base48.png" title="Base48" alt="Base48" rel="225x255" width="225" height="99" /></td>
</tr>
<tr><td><h2><a href="http://www.hack4fun.eu">Hack 4 fun</a>
</h2>
</td>
<td><h2><a href="http://www.metalab.at">Metalab Wien</a>
</h2>
</td>
</tr>
<tr><td><img src="https://progressbar.sk/system/images/BAhbB1sHOgZmIi8yMDEyLzA4LzEzLzE1XzA5XzM4Xzg5M19oYWNrNGZ1bl9taW5pYi5wbmdbCDoGcDoKdGh1bWIiDTIyNXgyNTU+/hack4fun-minib.png" title="Hack4fun Minib" alt="Hack4fun Minib" rel="225x255" width="225" height="59" /></td>
<td><img src="https://progressbar.sk/system/images/BAhbB1sHOgZmIi8yMDEyLzA4LzEzLzE1XzA4XzEwXzc5MF9BdG9taWNfbWV0YWxhYi5naWZbCDoGcDoKdGh1bWIiDTIyNXgyNTU+/Atomic-metalab.gif" title="Atomic Metalab" alt="Atomic Metalab" rel="225x255" width="120" height="120" /></td>
</tr>
</table>