<div class="clearfix">
	<div class="left-half">
		<h2>Contact:</h2>
		<p>
			info@progressbar.sk
		</p>
	</div>
	<div class="right-half">
		 <br /> <br /> <br /> <br />
		<p class="msg info">
			<img class="ui-icon ui-icon-info" src="/images/s.gif" alt="info icon">
			Did not find the information you are looking for? <br />
			<a href="/en/contact">Please, tell us about that.</a>
		</p>
	</div>

</div>
<div class="clearfix">
	<h2>Logo</h2>
	<div class="left-half">
		<p class="logo-preview black">
			<img width="400" alt="Logo Progressbar Hackerspace" src="/images/content/progressbar_black.png" />
		</p>
		<p>
			<a title="progressbar_logo_final_black_300dpi.png" href="http://wiki.progressbar.sk/_detail/progressbar_logo_final_black_300dpi.png?">300 DPI</a><span class="delim">&nbsp;|&nbsp;</span>
			<a title="progressbar_logo_final_black_600dpi.png" href="http://wiki.progressbar.sk/_detail/progressbar_logo_final_black_600dpi.png?">600 DPI</a><span class="delim">&nbsp;|&nbsp;</span>
			<a title="progressbar_logo_final_black_1200dpi.png" href="http://wiki.progressbar.sk/_detail/progressbar_logo_final_black_1200dpi.png?">1200 DPI</a><span class="delim">&nbsp;|&nbsp;</span>
			<a title="progressbar_logo_final_black.pdf" href="http://wiki.progressbar.sk/_media/progressbar_logo_final_black.pdf">PDF</a><span class="delim">&nbsp;|&nbsp;</span>
			<a title="logo_final_black-white.svg" href="http://wiki.progressbar.sk/_detail/sk/progressbar_logo_final_black-white.svg?">SVG</a>
		</p>
	</div>
	<div class="right-half">
		<p class="logo-preview white">
			<img width="400" alt="Logo Progressbar Hackerspace White" src="/images/content/progressbar_white.png" />
		</p>
		<p>
			<a title="progressbar_logo_final_white_300dpi.png" href="http://wiki.progressbar.sk/_detail/progressbar_logo_final_white_300dpi.png?">300 DPI</a><span class="delim">&nbsp;|&nbsp;</span>
			<a title="progressbar_logo_final_white_600dpi.png" href="http://wiki.progressbar.sk/_detail/progressbar_logo_final_white_600dpi.png?">600 DPI</a><span class="delim">&nbsp;|&nbsp;</span>
			<a title="progressbar_logo_final_white_1200dpi.png" href="http://wiki.progressbar.sk/_detail/progressbar_logo_final_white_1200dpi.png?">1200 DPI</a><span class="delim">&nbsp;|&nbsp;</span>
			<a title="progressbar_logo_final_white.pdf" href="http://wiki.progressbar.sk/_media/progressbar_logo_final_white.pdf">PDF</a>
		</p>
	</div>
	<div class="left-half">
		<h3>Square</h3>
		<p class="logo-preview black">
			<img alt="Logo Progressbar Hackerspace Square" src="/images/content/progressbar_square.png" />
		</p>
		<p>
			<a title="square.png" href="http://wiki.progressbar.sk/_detail/sk/progressbar_square.png?">PNG</a><span class="delim">&nbsp;|&nbsp;</span>
			<a title="square.svg" href="http://wiki.progressbar.sk/_detail/sk/progress_square.svg?">SVG</a><span class="delim">&nbsp;|&nbsp;</span>
			<a title="square.eps" class="mf_eps" href="http://wiki.progressbar.sk/_media/sk/progress_square.eps">EPS</a>
		</p>
	</div>

</div>