<p>I am an enthusiastic Android user who tries to achieve maximum working efficiency with security perspective (if it is possible).</p>
<p>Below you find the list of my favourite and/or security-improving Android applications. </p>
<p>I would really appreciate if you can send me your favourite ones at <a title="pavol.luptak@progressbar.sk?subject=My favourite Android apps are..." href="mailto:pavol.luptak@progressbar.sk?subject=My%20favourite%20Android%20apps%20are...">pavol.luptak@progressbar.sk</a> and if I like them, I will update the list.</p>
<ul><li><strong>My current phone: </strong>Samsung Galaxy S3</li>
</ul>
<ul><li><strong>My OS:</strong> Cyanogenmod 9.0 I9300</li>
</ul>
<ul><li><strong>My location and nation:</strong> mostly in Bratislava/Slovak</li>
</ul>
<p><strong>Accommodation: </strong>priceline Hotel Negotiator (hotel price bidding)</p>
<p><strong>Anonymization: </strong>Orbot: Tor on Android (it is possible to "torify" all Android communication!)</p>
<p><strong>Antivirus: </strong>AVG Antivirus Free (not sure if it makes sense, because it is slow)</p>
<p><strong>Anti-ad plugins: </strong>AdFree Android</p>
<p><strong>Call blacklist: </strong>My VIP calls</p>
<p><strong>Backup software: </strong>Titanium Backup PRO, rsync backup for Android</p>
<p><strong>Bitcoin: </strong>Bitcoin, Bitcoin Alert, Bitcoin Calculator, Bitcoin Wallet, Bitcoin Widget, MtGox Mobile</p>
<p><strong>Browsers: </strong>Firefox with adblock plugin, Chrome, Opera, Orweb (privacy browser + Tor)</p>
<p><strong>Contacts application: </strong>Contact Remover Plus (great application for merging duplicate contacts)</p>
<p><strong>Calendars</strong>: Business Calendar</p>
<p><strong>Caller Identification: </strong>Addafix Caller Identification app (be aware of sharing your sensitive information to this application), Slovak realtime phonebook</p>
<p><strong>Crypto storage: </strong>B-Folders Secure Organizer (AES256 encryption of any sensitive information, suitable for credit card numbers, logins, passwords, etc), Cryptonite (encFS implementation), LUKS manager</p>
<p><strong>Email client with PGP support:</strong>&#160; K9-mail with APG (it does not work for PGP/MIME emails)</p>
<p><strong>Email client with SMIME support</strong>: DJIGZO S/MIME encryption</p>
<p><strong>Filemanager</strong>: Astro, Total Commander</p>
<p><strong>Firewall: </strong>DroidWall Android firewall</p>
<p><strong>Geeky crazy tools: </strong>Sleep as Android, Lucid Dreaming App</p>
<p><strong>Jabber client with OTR support: </strong>Gibberbot</p>
<p><strong>Keyboards: </strong>SwiftKey 3 Keyboard (the best Android keyboard with AI that predicts your personality :-)</p>
<p><strong>Liberation applications: </strong>The Unofficial Mises App</p>
<p><strong>Maps and navigation: </strong>Bratislava Region (the most detailed map of Bratislava with accurate street numbers, strongly recommended), Sygic (a bit expensive, but my favourite navigation), Slovak ATM, Find My Phone (when someone steals your phone), Google Earth, OsmAnd (Open Street Maps) </p>
<p><strong>Music and video players: </strong>Mobo Player, Poweramp (my favourite music player that supports FLACs and exotic audio codecs), Winamp</p>
<p><strong>Pretty widgets (e.g. integrated Facebook and Twitter widget): </strong>Android Pro Widgets, Animated Weather Widget</p>
<p><strong>Readers with voice synthesis: </strong>Moon+ ReaderPro</p>
<p><strong>Recognition: </strong>Google Goggles (object recognition), QR Droid (QR recognition), Shazam (music recognition), Barcode Scanner, ShopSavvy Barcode Scanner, SoundHound (music recognition), Iris (speech recognition), musiXmatch Lyrics (lyrics recognition) </p>
<p><strong>RFID tools: </strong>Mifare Classic Scanner, NFC Classic Tag Reader Writer, NFC ReTag PRO, NFC Tag Write&amp;Reader, NFC TagInfo, NFC TagInfo by NXP, NFCTagWriter by NXP</p>
<p><strong>SMS encrypted storage:</strong> TextSecure</p>
<p><strong>SSH tools: </strong>DroidSCP, SSHDroidPro, SSH Tunnel, ConnectBot, AndFTP (as SFTP/SCP client)</p>
<p><strong>Social networks</strong>: Facebook Messenger, Facebook for Android, Google+, Foursquare, Last.fm, LinkedIn, Twitter</p>
<p><strong>System tools: </strong>Busybox, CPU tuner, ES Task Manager, ES File Explorer File Manager, Ping, Rom Manager, webget4Droid, nc: Connect Cat</p>
<p><strong>System benchmarks: </strong>AnTuTu Benchmark, AnTutu Tester, Speed Test</p>
<p><strong>Todo applications</strong>: Astrid task, ColorNote Notepad Notes, todo.txt, Notes</p>
<p><strong>Transport (mainly in Bratislava/Slovakia or Czech Republic):</strong> Bratislava online taxi, MHD Spoje, Metro24, Pubtran, SMS Parking Slovakia, SMS Ticket Slovakia, iziSHOP (hungarian highway tolls), City Traffic (CZ, Europe), SMS Ticket</p>
<p><strong>VoIP clients with SIP/TLS+SRTP support and G729 codec: </strong>Bria, Acrobits Softphone</p>