<div class="level2">
	<p>
		The <strong>chair (předseda)</strong> is the statutory body.
	</p>
	<ul>
		<li class="level1"><div class="li"> <a title="user:pasky" class="wikilink1" href="/user/pasky">Petr Baudiš</a> (pasky@ucw.cz).</div>
		</li>
	</ul>
	<p>
		The <strong>council (Rada)</strong> is the executive body and can be reached at  <a title="rada-email.png" class="media" href="/_detail/rada-email.png?id=legal"><img alt="" class="media" src="/_media/rada-email.png"></a>
	</p>
	<ul>
		<li class="level1"><div class="li"> <a title="user:joe" class="wikilink1" href="/user/joe">Dominik Pantůček</a></div>
		</li>
		<li class="level1"><div class="li"> <a title="user:stick" class="wikilink1" href="/user/stick">Pavol Rusnák</a></div>
		</li>
		<li class="level1"><div class="li"> <a title="user:ruza" class="wikilink1" href="/user/ruza">Pavel Růžička</a></div>
		</li>
	</ul>

	<p>
		The <strong>revision committee (revizní komise)</strong> is the control body. The current members are
	</p>
	<ul>
		<li class="level1"><div class="li"> <a title="user:tutchek" class="wikilink1" href="/user/tutchek">Michal Tuláček</a></div>
		</li>
		<li class="level1"><div class="li"> <a title="user:start" class="wikilink1" href="/user/start">Ivor Kollár</a></div>
		</li>
	</ul>

	<p>
		The current members have been elected at valná hromada on Aug 24 2010.
	</p>

</div>