<div id="member-description">
	<h2>
		Prečo sa stať členom združenia?
	</h2>
	<p>
		Náš fyzický priestor, kde sa stretávame a organizujeme akcie,
		nesie so sebou pravidelné relatívne vysoké náklady (prenájom
		priestorov, elektrický prúd, Internet, ..). Členstvom v združení
		a platením členských poplatkov nám môžeš bezprostredne pomôcť v
		tejto činnosti a zároveň získať (v závislosti od druhu členstva)
		hlasovacie právo.
	</p>
	<p>
		Snažíme sa fungovať na demokratických princípoch, aj keď s veľkým
		dôrazom na aktokraciu (ten, ktorý bude danú činnosť realizovať o
		nej v najväčšej miere rozhoduje).
	</p>
	<h4>
		Stať sa členom je jednoduché:
	</h4>
	<p>
		<a href="#new_registration">Začni registráciou</a> a napíš niečo o sebe.
		Po odoslaní Ťa budeme informovať o priebehu registrácie na tvoj e-mail.
		Členom združenia sa staneš po schválení registrácie a zaplatení členského za <strong>dva kalendárne mesiace</strong>.
	</p>
	<p>
		V okamihu ako začneš platiť členské sa automaticky stávaš náš <strong>pridružený člen.</strong> To je prvý krok k tomu, aby si
		sa stal náš <strong>aktívny člen</strong>, čo vyžaduje pravidelnú aktivitu v Progressbare a súhlas ostatných aktívnych členov.
	</p>
	<p class="msg info">
		<img class="ui-icon ui-icon-info" src="/images/s.gif" alt="info icon">
		Stať sa aktívnym členom mǒžeš i ako podporovateľ Progressbaru, ak výška dobrovoľných príspevkov za posledných 6 mesiacov presiahla sumu členského za dané obdobie.
		<br>Schválenie je podmienené tiež <a href="#registration-form">registráciou</a>, pravidelnou aktivitou a súhlasom ostatných aktívnych členov.
	</p>
	<h4>
		Výhody aktívneho člena:
	</h4>
	<ul>
		<li>hlasovacie právo v akýchkoľvek otázkach týkajúce sa hackerspace-u
		</li>
		<li>individuálny fyzický prístup do Progressbaru a možnosť využívať uvedené priestory aj mimo plánovaných akcií (vlastníctvo kľúčikov)
		</li>
	</ul>
	<h4 id="payments">Platby členského</h4>
	<p>
		Ako náš člen je potrebné pravidelne (mesačne) platiť členské, ktoré predstavuje:
	</p>
	<p id="discount">
		10 € ak si študent a nedovŕšil si 26 rokov - na overenie prines svoj študentský doklad na naše stretnutie
	</p>
	<p>
		20 € ak si neštudent alebo študent starší ako 26 rokov
	</p>
	<p>
		Momentálne členské platby je možné vykonať bankovým prevodom na:
	</p>
	<p>
		<strong>Číslo bankového účtu:</strong> 2600121198/8330
	</p>
	<p>
		<strong>IBAN (pre platby zo zahraničia):</strong>
		SK1583300000002600121198
	</p>
	<p>
		<strong>BIC/SWIFT kód:</strong> FIOZSKBAXXX
	</p>
	<p>

		<strong>VS:</strong> tvoje členské identifikačné číslo, ktoré ti bolo pridelené pri registrácii.
		Nájdeš ho vo svojom	členskem profile, alebo v potvrdzovacom registračnom e-maile.
	</p>
	<p>
		<strong>SS:</strong> mesiac za ktorý platíš členstvo (napr. 082010), nie je povinný v prípade trvalého pravidelného príkazu
	</p>
	<p>
		<strong>Popis platby:</strong> celé tvoje meno.
	</p>
	<p>
		Pomôže nám to danú platbu prípadne spárovať s tvojou osobou.
	</p>
	<p class="msg info">
		<img alt="info icon" src="/images/s.gif" class="ui-icon ui-icon-info">
		Výpis z nášho spoločného účtu je dostupný všetkým členom, takže
		budeš mať úplny prehľad o tom, ako je s tvojimi peniazmi presne
		naložené.
	</p>
	<h2>
		Tešíme sa na Teba!
	</h2>
</div>
