<div>
    <p>
        <strong><img alt="Samy Kamkar" src="http://m.blog.hu/ge/gerillainformatika/image/samy.jpg"
                           style="width: 200px; height: 233px; float: left; margin: 0px 16px 8px 0px;" />
                 <a href="http://www.samy.pl">Samy
                Kamkar</a></strong> is best known for the Samy worm, the
            first XSS worm, infecting over one million users on
            MySpace in less than 24 hours. A co-founder of Fonality,
            Inc., an IP PBX company, Samy previously led the
            development of all top-level domain name server software
            and systems for Global Domains International
            (.ws).
    </p>
    <p>
        In the past 10 years, Samy
            has focused on evolutionary and genetic algorithmic
            software development, Voice over IP software development,
            automated security and vulnerability research in network
            security, reverse engineering, and network gaming. When
            not strapped behind the Matrix, Samy can be found stunt
            driving, getting involved in local community service
            projects, and continuing his focus on staying out of
            jail.
    </p>
    <p>
        <strong>When:</strong>
            Monday 11.10.2010 at 20:00
    </p>
    <p>
        <strong>When: <a href="http://www.a4.sk">A4</a></strong> ,Nám. SNP 12,
            Bratislava
    </p>
    <p>
        <strong>Topic of
                    presentation</strong>: <strong>How I Met Your
                    Girlfriend</strong><br />
            The discovery and execution of entirely new classes of
            Web attacks in order to meet your girlfriend. This
            includes entertaining and newly discovered attacks
            including PHP session prediction and random numbers
            (accurately guessing PHP session cookies), browser
            protocol confusion (turning a browser into an SMTP
            server), firewall and NAT penetration via Javascript
            (turning your router against you), extracting extremely
            accurate geolocation information from a Web browser (not
            using IP geolocation), and more.
    </p>
    <p>
        <strong>Organizers and
                partners:</strong>
    </p>
    <p>
        <strong><img alt="progressbar hackerspace logo" src="http://hackerspaces.org/images/9/98/Logo_sk.png" style="height: 74px; width: 200px;" />
            <a href="http://www.owasp.org"><img alt="owasp logo"
                     src="http://www.owasp.org/images/3/34/Owasp_logo_normal.jpg"
                     style="height: 74px; width: 74px; margin: 0px 20px;" /></a>
                <a href="http://www.a4.sk"><img alt="a4 logo"
                     src="http://www.a4.sk/sites/default/files/logo.gif"
                     /></a></strong>
    </p>
</div>
