<div>
	<div class="left-half">
		<h2><a href="http://digmia.com/">Digmia</a></h2>
		<p>
			<a href="http://digmia.com/"><img src="/images/content/sponsors/digmia_logo_1.png" alt="Digmia - Logo" width="470" height="125" /></a>
		</p>
	</div>
	<div class="right-half">
		<h2><a href="https://www.nethemba.com/sk/">Nethemba</a></h2>
		<p>
			<a href="https://www.nethemba.com/sk/"><img src="/images/content/sponsors/nethemba_logo_1.png" alt="Nethemba - logo" width="470" height="132" /></a>
		</p>
	</div>
	<div class="reset">&nbsp;</div>
</div>
