<div class="clearfix">
    <div class="left-half">
        <h2><a href="http://digmia.com/">Digmia</a>
        </h2>
        <p>
            <a href="http://digmia.com/"><img src="/images/content/sponsors/digmia_logo_1.png" alt="Digmia - Logo" height="125" width="470" /></a>
        </p>
        <h2>
            <a href="http://www.elso.sk/">Elso</a>
        </h2>
        <p>
            <a href="http://www.elso.sk"><img src="/images/content/sponsors/elso.png" alt="Elso - Logo" height="125" width="470" /></a>
        </p>
    </div>
    <div class="right-half">
        <h2><a href="https://www.nethemba.com/sk/">Nethemba</a>
        </h2>
        <p>
            <a href="https://www.nethemba.com/sk/"><img src="/images/content/sponsors/nethemba_logo_1.png" alt="Nethemba - logo" height="132" width="470" /></a>
        </p>
    </div>
</div>
