<h3>Obsah</h3>
<ul>
<li><a href="#article-1">Článok I &ndash; Základné ustanovenia</a></li>
<li><a href="#article-2">Článok II &ndash; Ciele a činnosť združenia</a></li>
<li><a href="#article-3">Článok III &ndash; Členstvo</a></li>
<li><a href="#article-4">Článok IV &ndash; Organizačná štruktúra</a></li>
<li><a href="#article-5">Článok V &ndash; Zhromaždenie členov</a></li>
<li><a href="#article-6">Článok VI &ndash; Riadiaci výbor</a></li>
<li><a href="#article-7">Článok VII &ndash; Kontrolná komisia</a></li>
<li><a href="#article-8">Článok VIII &ndash; Pracovné skupiny</a></li>
<li><a href="#article-9">Článok IX - Projektové tímy</a></li>
<li><a href="#article-10">Článok X &ndash; Zásady hospodárenia</a></li>
<li><a href="#article-11">Článok XI &ndash; Zánik združenia&nbsp;</a></li>
<li><a href="#article-12">Článok XII &ndash; Záverečné ustanovenia</a></li>
</ul>