<h2 id="article-1">Článok I &ndash; Základné ustanovenia</h2>
<p>
    <strong>I.1</strong> Názov občianskeho združenia je:
    <em>Progressbar</em>
    <br>
    <strong>I.2</strong> Sídlom združenia je: Lazaretská 12, 811 08
    Bratislava<br>
    <strong>I.3</strong> Webová stránka združenia je: <a href="http://progressbar.sk">http://progressbar.sk</a>
</p>
<h2 id="article-2">Článok II &ndash; Ciele a činnosť združenia</h2>
<p>
    <strong>II.1</strong> Základným cieľom združenia je podpora
    rozvoja vedomostí a zručností v oblasti technológií, vedy, umenia
    a kultúry.
</p>
<p>
    <strong>II.2</strong> Svoju činnosť združenie vykonáva
    najmä:<br>
    a) organizovaním seminárov v rôznych oblastiach technológií a
    vedy;
</p>
<p>
    b) usporadúvaním workshopov a školení;
</p>
<p>
    c) získavaním, sústredením a zverejňovaním
    informácií;
</p>
<p>
    d) vedeckým a patavedeckým výskumom a vývojom v rôznych
    oblastiach technológií;
</p>
<p>
    e) expertnou, konzultačnou a publikačnou
    činnosťou;
</p>
<p>
    f) usporadúvaním a spoluorganizovaním medzinárodných konferencií,
    prednášok, stretnutí a diskusií týkajúcich sa oblastí záujmu
    združenia.
</p>
<p>
    <strong>II.3</strong> Za účelom napĺňania svojich cieľov a výkonu
    svojej činnosti združenie:<br>
    a) spolupracuje s inými združeniami a organizáciami v rámci
    Slovenskej republiky i v zahraničí, s ktorými môže uzatvárať
    zmluvy o spolupráci;
</p>
<p>
    b) získava finančné prostriedky, ktoré účelne používa na
    dosiahnutie svojho cieľa.
</p>
<h2 id="article-3">Článok III &ndash; Členstvo</h2>
<p>
    <strong>III.1</strong> Členmi združenia sú fyzické alebo
    právnické osoby, ktoré sa aktívne alebo pasívne podieľajú na jeho
    činnosti.&nbsp;
</p>
<p>
    <strong>III.2</strong> Združenie má nasledujúce kategórie
    členstva:<br>
    a) zakladajúci členovia;<br>
    b) aktívni členovia;<br>
    c) pridružení členovia;<br>
    d) čestní členovia.
</p>
<p>
    <strong>III.3</strong> Zakladajúci členovia sú fyzické osoby,
    ktoré sa podieľali na založení združenia. Zakladajúci členovia
    združenia sú uvedení v Návrhu na registráciu občianskeho
    združenia.
</p>
<p>
    <strong>III.4</strong> Aktívni členovia sú fyzické osoby, ktoré
    sa aktívne podieľajú na činnostiach združenia alebo na jeho
    chode. O statuse aktívneho člena rozhoduje hlasovaním
    Zhromaždenie členov na svojej schôdzi. Za aktívnych členov sa
    automaticky pokladajú aj zakladajúci členovia, pokiaľ nepožiadajú
    o odobratie aktívneho členstva.
</p>
<p>
    <strong>III.5</strong> Pridružení členovia sú fyzické alebo
    právnické osoby, ktoré aktívnym alebo pasívnym spôsobom podporujú
    združenie. Status pridruženého člena môže získať každý, kto splní
    podmienky stanovené Riadiacim výborom združenia.
</p>
<p>
    <strong>III.6</strong> Čestní členovia sú fyzické osoby, ktoré sa
    mimoriadnym spôsobom zaslúžili o rozvoj združenia. Čestných
    členov určuje a menuje riadiaci výbor.
</p>
<p>
    <strong>III.7</strong> Členovia združenia majú právo zúčastňovať
    sa na aktivitách združenia a byť informovaní o jeho
    činnosti.&nbsp;
</p>
<p>
    <strong>III.8</strong> Aktívni členovia majú právo zastávať
    jednotlivé role v rámci združenia, voliť a byť volení do orgánov
    združenia.
</p>
<p>
    <strong>III.9</strong> Členovia združenia sú povinní dodržiavať
    jeho stanovy a rozhodnutia jeho orgánov a zostať živí.
</p>
<p>
    <strong>III.10</strong> Status zakladajúceho člena zaniká:<br>
    a) dobrovoľným vzdaním sa členstva k určitému dátumu;<br>
    b) zánikom združenia (k dátumu zániku združenia);
</p>
<p>
    <strong>III.11</strong> Status aktívneho člena zaniká:<br>
    a) dobrovoľným vzdaním sa členstva k určitému
    dátumu;<br>

    b) vylúčením po hlasovaní Zhromaždenia členov (k dátumu
    hlasovania);<br>

    c) zánikom združenia (k dátumu zániku združenia);
</p>
<p>
    <strong>III.12</strong> Status pridruženého člena zaniká:<br>
    a) neplnením podmienok stanovených združením (k dátumu zistenia
    skutočnosti);<br>
    b) vylúčením po hlasovaní Zhromaždenia členov (k dátumu
    hlasovania);<br>
    c) zánikom združenia (k dátumu zániku združenia).
</p>
<h2 id="article-4">Článok IV &ndash; Organizačná štruktúra</h2>
<p>
    <strong>IV.1</strong> Orgánmi združenia sú:<br>
    a) Zhromaždenie členov;&nbsp;<br>
    b) Riadiaci výbor;<br>
    c) Kontrolná komisia.
</p>
<p>
    <strong>IV.2</strong> Svoju činnosť bude združenie vykonávať v
    rámci:<br>
    a) Pracovných skupín;<br>
    b) Projektových tímov.
</p>
<h2 id="article-5">Článok V &ndash; Zhromaždenie členov</h2>
<p>
    <strong>V.1</strong> Zhromaždenie členov je najvyšším
    rozhodovacím orgánom združenia, tvoria ho všetci zakladajúci a
    aktívni členovia združenia. Jeho stretnutie sa organizuje
    minimálne dvakrát ročne a zvoláva ho Riadiaci výbor.
</p>
<p>
    <strong>V.2</strong> Zhromaždenie členov svoje uznesenia
    schvaľuje nadpolovičnou väčšinou hlasov všetkých zástupcov, ak
    stanovy neurčujú inak. Každý zástupca disponuje jedným hlasom a
    hlasuje osobne.&nbsp;
</p>
<p>
    <strong>V.3</strong> Zhromaždenie členov svojim hlasovaním
    najmä:<br>
    a) schvaľuje pravidlá fungovania združenia;&nbsp;<br>
    b) spomedzi seba na obdobie jedného roka volí zástupcov
    Riadiaceho výboru, ktorí prejavia o túto funkciu záujem;<br>
    c) spomedzi seba na obdobie jedného roka volí zástupcov
    Kontrolnej komisie, ktorí prejavia o túto funkciu
    záujem;<br>

    d) pri porušení povinností členmi môže hlasovaním vylúčiť členov
    združenia, odvolať zástupcov Riadiaceho výboru alebo Kontrolnej
    komisie;<br>
    e) podľa návrhov členov združenia schvaľuje plán činnosti,
    pracovné skupiny a projekty združenia;<br>
    f) podľa návrhov Riadiaceho výboru schvaľuje rozpočet združenia
    na obdobie pol roka;<br>
    g) schvaľuje plán rozvoja a aktivít združenia;<br>
    h) schvaľuje Výročnú správu a Správu Kontrolnej komisie<br>
    i) dvojtretinovou väčšinou všetkých aktívnych členov a so
    súhlasom všetkých zakladajúcich členov mení stanovy Združenia.
</p>
<p>
    <strong>V.4</strong> Mimoriadne stretnutie Zhromaždenia členov je
    povinný zvolať Riadiaci výbor do 15 dní od doručenia žiadosti
    viac ako tretiny aktívnych členov, žiadosť musí obsahovať dôvod,
    pre ktorý sa mimoriadne stretnutie zvoláva. Ak Riadiaci výbor do
    15 dní nezvolá mimoriadne stretnutie Zhromaždenia členov,
    Zhromaždenie sa zíde šestnásty deň od doručenia žiadosti
    Riadiacemu výboru o 13:37 v sídle združenia.
</p>
<h2 id="article-6">Článok VI &ndash; Riadiaci výbor</h2>
<p>
    <strong>VI.1</strong> Riadiaci výbor je najvyšším riadiacim
    orgánom združenia. Každý zástupca Riadiaceho výboru je
    štatutárnym zástupcam združenia, koná samostatne. V právnych
    vzťahoch môže Riadiaci výbor zastupovaním združenia na dobu
    určitú poveriť inú osobu.&nbsp;
</p>
<p>
    <strong>VI.2</strong> Riadiaci výbor má 5 zástupcov, ktorí sú
    volení na obdobie jedného roka. Aspoň 1 zástupca v rámci
    Riadiaceho výboru je zakladajúcim členom združenia.&nbsp;
</p>
<p>
    <strong>VI.3</strong> Riadiaci výbor riadi po organizačnej a
    hospodárskej stránke činnosť združenia, a to najmä:<br>
    a) zodpovedá za správu hospodárskych záležitostí, vykonaním
    čiastkových úloh súvisiacich s hospodárením združenia;
</p>
<p>
    b) uzatvára pracovné dohody so spolupracovníkmi združenia a v
    závislosti od rozpočtu určuje pre nich finančnú odmenu,
</p>
<p>
    c) zodpovedá za dobré meno združenia a jeho zviditeľňovanie sa,
    vykonaním čiastkových úloh súvisiacich s propagáciou združenia
</p>
<p>
    d) zodpovedá za zaistenie potrebných zdrojov na chod združenia a
    výkon jeho činností,&nbsp;
</p>
<p>
    e) zodpovedá za priestory a infraštruktúru združenia
</p>
<p>
    f) menuje a odvoláva Vedúcich pracovných skupín a Vedúcich
    projektov
    združenia;
</p>
<p>
    g) predkladá Zhromaždeniu členov Výročnú správu združenia, ktorej
    súčasťou je aj Účtovná uzávierka, Správa Kontrolnej komisie a
    Správy o činnosti združenia, a to raz ročne do 1. marca za
    obdobie predchádzajúceho kalendárneho roka;
</p>
<p>
    h) v období medzi stretnutiami Zhromaždenia členov rozhoduje o
    ďalších otázkach, ktoré nie sú týmito stanovami priznané iným
    orgánom;
</p>
<p>
    i) v odôvodnených prípadoch pozastavuje členstvo aktívnym a
    pridruženým členom do rozhodnutia Zhromaždenia členov.
</p>
<p>
    <strong>VI.4</strong> Mandát zástupcom Riadiaceho výboru
    zaniká:<br>
    a) dobrovoľným vzdaním sa funkcie k určitému dátumu;
</p>
<p>
    b) odvolaním po hlasovaní Zhromaždenia členov (k dátumu
    hlasovania);
</p>
<p>
    c) zánikom jeho členstva v združení (k dátumu zániku členstva);
</p>
<p>
    d) zánikom združenia (k dátumu zániku združenia);
</p>
<h2 id="article-7">Článok VII &ndash; Kontrolná komisia</h2>
<p>
    <strong>VII.1</strong> Kontrolná komisia je kontrolným orgánom
    združenia, kontroluje dodržiavanie stanov, hospodárenie s
    finančnými prostriedkami a iným majetkom združenia.
</p>
<p>
    <strong>VII.2</strong> Kontrolná komisia má 2 zástupcov, ktorí sú
    volení na obdobie jedného roka.
</p>
<p>
    <strong>VII.3</strong> O výsledkoch vykonaných kontrol a o svojej
    činnosti podáva Zhromaždeniu členov správu. Čiastkovú správu
    podáva do 15 dní od žiadosti Zhromaždenia členov a ročnú správu
    raz ročne do 1. marca za obdobie predchádzajúceho kalendárneho
    roka.
</p>
<p>
    <strong>VII.4</strong> Rola zástupcu Kontrolnej komisie je
    nezlučiteľná s rolou zástupcu Riadiaceho výboru.
</p>
<p>
    <strong>VII.5</strong> Mandát zástupcom Kontrolnej komisie
    zaniká:<br>
    b) dobrovoľným vzdaním sa funkcie k určitému dátumu;<br>
    c) odvolaním po hlasovaní Zhromaždenia členov (k dátumu
    hlasovania);<br>
    d) zánikom združenia (k dátumu zániku združenia);
</p>
<h2 id="article-8">Článok VIII &ndash; Pracovné skupiny</h2>
<p>
    <strong>VIII.1</strong> Pracovné skupiny sú trvalé organizačné
    jednotky združenia.
</p>
<p>
    <strong>VIII.2</strong> Pracovné skupiny a ich činnosť schvaľuje
    Riadiaci výbor na základe návrhu aspoň dvoch aktívnych členov
</p>
<p>
    <strong>VIII.3</strong> Pracovné skupiny riadia Vedúci pracovných
    skupín a svoju činnosť si organizujú samostatne.
</p>
<h2 id="article-9">Článok IX - Projektové tímy</h2>
<p>
    <strong>IX.1</strong> Projektové tímy sú dočasné organizačné
    jednotky združenia.
</p>
<p>
    <strong>IX.2</strong> Projekty, na ktorých projektové tímy
    pracujú schvaľuje Riadiaci výbor na základe návrhu aspoň dvoch
    aktívnych členov.
</p>
<p>
    <strong>IX.3</strong> Projektové tímy riadia Vedúci projektov a
    svoju činnosť si organizujú samostatne.
</p>
<h2 id="article-10">Článok X &ndash; Zásady hospodárenia</h2>
<p>
    <strong>X.1</strong> Združenie hospodári s hnuteľným a
    nehnuteľným majetkom podľa schváleného rozpočtu a hospodárne.
</p>
<p>
    <strong>X.2</strong> Majetok a finančné prostriedky združenia
    musia byť použité v súlade s cieľmi združenia.&nbsp;
</p>
<p>
    <strong>X.3</strong> Zdrojmi majetku združenia sú najmä členské
    príspevky, dotácie, granty a dary od právnických a fyzických
    osôb, a výnosy z majetku a vlastnej činnosti.
</p>
<h2 id="article-11">Článok XI &ndash; Zánik združenia&nbsp;</h2>
<p>
    <strong>XI.1</strong> Združenie zaniká jeho zlúčením s iným
    občianskym združením alebo dobrovoľným rozpustením.&nbsp;
</p>
<p>
    <strong>XI.2</strong>&nbsp; Združenie môže zaniknúť iba so
    súhlasom 4/5 jeho zakladajúcich členov.
</p>
<p>
    <strong>XI.3</strong> Pri zániku združenia na návrh Riadiaceho
    výboru rozhoduje Zhromaždenie členov o použití majetku združenia
    zostávajúceho po vyrovnaní všetkých záväzkov. Likvidačný zostatok
    môže byť prevedený iba na inú mimovládnu neziskovú organizáciu
    zaoberajúcu sa obdobnou činnosťou ako združenie.
</p>
<h2 id="article-12">Článok XII &ndash; Záverečné ustanovenia</h2>
<p>
    <strong>XII.1</strong> Stanovy združenia môžu byť zmenené iba na
    základe rozhodnutia Zhromaždenia členov, ak sa pre zmenu vysloví
    viac ako dve tretiny členov Zhromaždenia členov vrátane všetkých
    zakladajúcich členov.
</p>
<p>
    Bratislava, 30. 6. 2010<br>
    &nbsp;
</p>
<p>
    Pridelené IČO: <strong>42180023</strong>
</p>