<p>Radi <strong>pracujeme na</strong> zaujímavých <strong>projektoch, ktoré prinášajú radosť</strong> nám, klientom a v neposlednom rade hlavne používateľom a návštevníkom.</p>
<p>Venujeme sa od vývoja firemných prezentácií, aplikácii pre <strong>facebook</strong>, <strong>mobil</strong>, intranet 
	až po sofistikované <strong>CMS</strong> / DMS systémy a E-shopy.</p>
<p>Vďaka mnohoročným skúsenostiam Vám vieme poskytnúť aj daľšie komplexné služby v oblasti internetu. <br />Predovšetkym konzultácie a analýzy v oblastiach 
	SEO / SEM (<strong>optimalizácia pre vyhľadávače</strong>), UI / UX (<strong>použiteľnosti a prístupnosti</strong>)
	a <strong>marketingu v sociálnych sietiach</strong>.
</p>
<div style="background: #fff; padding: 10px;">
	<iframe src="https://spreadsheets.google.com/spreadsheet/embeddedform?formkey=dEgyVUhvQmJnTURVMXhtVUpwbG1rbUE6MQ" width="540" height="480" frameborder="0" marginheight="0" marginwidth="0" style="overflow: hidden;">Loading...</iframe></div>
