<section id="calendar">
  <header>
    <h2><%= link_to(t('events'), @events_page.url, :class => 'float-left') %>
    </h2>
  </header>
  <div class="content">
    <div class="event">
      <h3><a href="http://events.ccc.de/camp/2011/">Chaos Communication Camp</a></h3>
      <p>
        International, five-day open-air event for hackers and associated life-forms. It provides a relaxed atmosphere for free exchange of technical, social, and political ideas. The Camp has everything you need: power, internet, food and fun.
      </p>
      <dl><dt> August 10th thru August 14th 2011
        </dt>
        <dt>Finowfurt near Berlin, Germany, Europe
        </dt></dl>
      </dd></dl>
    </div>
  </div>
    <!--
  <footer>
    <div class="float-left">
     <a href="<%= events_path(:format => :ics) %>"><img alt="ical icon" src="/images/s.gif" class="sprites sprite-icon-ical-32" /></a>
    </div>
    <div class="float-right">
      <%= link_to(t('calendar.full_schedule'), @events_page.url) %>
    </div>
    <div class="reset">&#160;</div>
  </footer>
    -->
</section>