<section id="calendar">
  <header>
    <h2><%= link_to(t('events'), @events_page.url) %>
    </h2>
  </header>
  <div class="content">
    <div class="event">
      <h3><a href="https://www.progressbar.sk/blog/tik-art-radio-days-6th-till-11th-of-september-2011">TIK Art Radio Days</a></h3>
      <p>
        TIK Radiodays is part of TimeInventorsKabinet, a project dealing with alternative time control systems, investigating into time relations within biological and circumstantial ecologies. Within the frame of this project wind-time was established, that we take as a base for measuring a new time.
      </p>
      <p>6th till 11th of September 2011</p>
      
      <a href="http://col-me.info/artradio" title="Oficial project website">col-me.info/artradio</a>
    </div>
  </div>
</section>