<section id="projects">
  <div class="project-wrapper">
    <article class="project">
      <header>
        <h4>OWASP pravidelné stretnutia</h4>
      </header>
      <div class="body">
        <img src="/images/content/projects/owasp_logo2.png" width="215" height="140" />
        <span class="img-bg"></span>
        <p>
          Prezentácie o webovej bezpečnosti, pracovné stretnutia a predstavovanie OWASP projektov.
        </p>
      </div>
    </article>
  </div>
  <div class="project-wrapper">
    <article class="project">
      <header>
        <h4>Arduino hacking</h4>
      </header>
      <div class="body">
        <img src="/images/content/projects/arduino5.png" width="215" height="140" />
        <span class="img-bg"></span>
        <p>
          Arduino je open-source elektronika prototypovania platforma založená na flexibilné, ľahko použiteľný software a hardware.
        </p>
      </div>
    </article>
  </div>
  <div class="project-wrapper">
    <article class="project">
      <header>
        <h4>Bitcoin - virtuálna mena</h4>      

      </header>
      <div class="body">
        <img src="/images/content/projects/bitcoin2.png" width="215" height="140" />
        <span class="img-bg"></span>
        <p>
          Vaše Bitcoin peniaze sú dostupné kdekoľvek na svete kde máte k dispozícií internetové pripojenie, na mieste nezáleží. 
        </p>
      </div>
    </article>
  </div>
  <div class="project-wrapper four">
    <article class="project">
      <header>
        <h4>Komunity a konferencie</h4>

      </header>
      <div class="body">
        <img src="/images/content/projects/community2.png" width="215" height="140" />
        <span class="img-bg"></span>
        <p>
          Neviem čo sem dať, ale keď budem vedieť
          bude úplne strašne super, že úžasne najsam.
        </p>
      </div>
    </article>
  </div>
  <div class="reset">&nbsp;</div>
</section>