<section id="projects">
  <div class="project-wrapper">
    <div class="project">
      <a href="#">
        <img src="http://lorempixum.com/215/200/sports/" width="215" height="200" />
        <span class="img-bg"></span>
        <h4>Lorem ipsum</h4>
      </a>
        <p>
          Ethernetové rozhraní a je realizován pomocí lana CYA 10 % vyšší.
        </p>
    </div>
  </div>
  <div class="project-wrapper">
    <div class="project">
      <a href="#">
        <img src="http://placekitten.com/215/200" width="215" height="200" />
        <span class="img-bg"></span>
        <h4>Lorem ipsum</h4>
      </a>
        <p>
          The sun was a path to avagadros number. An entire mess, Ill never happy, except that one wanted to the originally.
        </p>
    </div>
  </div>
  <div class="project-wrapper">
    <div class="project">
      <a href="#">
        <img src="http://lorempixum.com/215/200/" width="215" height="200" />
        <span class="img-bg"></span>
        <h4>Lorem ipsum</h4>
      </a>
        <p>
          Ethernetové rozhraní a je realizován pomocí lana CYA 10 % vyšší.
        </p>
    </div>
  </div>
  <div class="project-wrapper four">
    <div class="project">
      <a href="#">
        <img src="http://lorempixum.com/215/200/fashion/" width="215" height="200" />
        <span class="img-bg"></span>
        <h4>Lorem ipsum</h4>
      </a>
        <p>
          The sun was a path to avagadros number. An entire mess, Ill never happy, except that one wanted to the originally.
        </p>
    </div>
  </div>
  <div class="reset">&nbsp;</div>
</section>