<section id="projects">
  <div class="project-wrapper">
    <div class="project">
      <a href="#">
        <img src="http://lorempixum.com/215/200/sports/" width="215" height="200" />
        <span class="img-bg"></span>
        <h4>OWASP pravidelné stretnutia</h4>
      </a>
        <p>
          Prezentácie o webovej bezpečnosti, pracovné stretnutia a predstavovanie OWASP projektov.
          <%#*WebAppSec presentations, lightning talks, worksessions, OWASP projects.%>
        </p>
    </div>
  </div>
  <div class="project-wrapper">
    <div class="project">
      <a href="#">
        <img src="http://placekitten.com/215/200" width="215" height="200" />
        <span class="img-bg"></span>
        <h4>Arduino hacking</h4>
      </a>
        <p>
          Arduino je open-source elektronika prototypovania platforma založená na flexibilné, ľahko použiteľný software a hardware.
          <%#*Arduino is an open-source electronics prototyping platform based on flexible, easy-to-use hardware and software.%>
        </p>
    </div>
  </div>
  <div class="project-wrapper">
    <div class="project">
      <a href="#">
        <img src="http://lorempixum.com/215/200/" width="215" height="200" />
        <span class="img-bg"></span>
        <h4>Bitcoin - virtuálna mena</h4>
      </a>
        <p>
          Vaše Bitcoin peniaze sú dostupné kdekoľvek na svete kde máte k dispozícií internetové pripojenie, na mieste nezáleží. 
        </p>
    </div>
  </div>
  <div class="project-wrapper four">
    <div class="project">
      <a href="#">
        <img src="http://lorempixum.com/215/200/fashion/" width="215" height="200" />
        <span class="img-bg"></span>
        <h4>CCC Kamp</h4>
      </a>
        <p>
          <%#*International, five-day open-air event for hackers and associated life-forms. We are%> 
          Medzinárodná päť dňová open air akcia pre hackerov a podobné formy života.
        </p>
    </div>
  </div>
  <div class="reset">&nbsp;</div>
</section>