<section id="projects">
  <div class="project-wrapper">
    <div class="project">
      
        <img src="/images/content/projects/owasp-logo.png" width="215" height="200" />
        <span class="img-bg"></span>
      
        <h4>OWASP pravidelné stretnutia</h4>
        <p>
          Prezentácie o webovej bezpečnosti, pracovné stretnutia a predstavovanie OWASP projektov.
          <%#*WebAppSec presentations, lightning talks, worksessions, OWASP projects.%>
        </p>
    </div>
  </div>
  <div class="project-wrapper">
    <div class="project">
        <img src="/images/content/projects/owasp-logo.png" width="215" height="200" />
        <span class="img-bg"></span>
        <h4>Arduino hacking</h4>
        <p>
          Arduino je open-source elektronika prototypovania platforma založená na flexibilné, ľahko použiteľný software a hardware.
          <%#*Arduino is an open-source electronics prototyping platform based on flexible, easy-to-use hardware and software.%>
        </p>
    </div>
  </div>
  <div class="project-wrapper">
    <div class="project">
        <img src="/images/content/projects/owasp-logo.png" width="215" height="200" />
        <span class="img-bg"></span>
        <h4>Bitcoin - virtuálna mena</h4>      
        <p>
          Vaše Bitcoin peniaze sú dostupné kdekoľvek na svete kde máte k dispozícií internetové pripojenie, na mieste nezáleží. 
        </p>
    </div>
  </div>
  <div class="project-wrapper four">
    <div class="project">
        <img src="/images/content/projects/owasp-logo.png" width="215" height="200" />
        <span class="img-bg"></span>
        <h4>Komunity a konferencie</h4>
        <p>
          Uplne strašne super, že úžasne najsam.
        </p>
    </div>
  </div>
  <div class="reset">&nbsp;</div>
</section>