html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
/*hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }*/

hr {
	height: 1px;
	display: block;
	border: none;
	background: -moz-linear-gradient(left, #0a0a0a, #1e1e1e, #070707);
}
input, select { vertical-align:middle; }

body { font:13px/1.231 'Segoe UI', Arial, sans-serif; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea { color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
/*a:link { color: #CECECE; }*/
a:link, a:visited { color: #999; text-decoration: none; }
a:active { color: lightblue; position: relative; top: 1px; }
a:hover { color: #efefef; }

ul, ol { margin-left: 20px; }
ol { list-style-type: decimal; }

ol.articles {
	list-style-type: upper-roman;
	list-style-position: inside;
	padding: 0px;
	margin-left: 0px;
}

.articles li {
	padding-left: 10px;
}

nav ul, nav li { margin: 0; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { padding: 18px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
textarea { overflow: auto;  border: solid 1px; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: middle; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid { }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

a:link { -webkit-tap-highlight-color: #FF5E99; }

button { width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden;	 }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.reset {
	display:block;
	font-size:0;
	line-height:0;
	height:0;
	overflow:hidden;
	clear:both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.center {
	text-align: center;
}

.delim {
	color: #333;
}

p {
	margin-bottom: 20px;
	line-height: 150%;
}

#content ul, #content ol {
	line-height: 150%;
}

article {
	margin-bottom: 20px;
}

body {
	text-align: center;
	background: #000;
	color: #fff;
}

#header, #content, #footer {
	width: 960px;
	margin: 0px auto;
	text-align: left;
}

#header-wrapper {
	border-bottom: solid 1px #222;
}

#header {
	background-image: url(/images/progressbar.png);
	background-repeat: no-repeat;
	background-position: top left;
	/*	height: 140px;*/
}

#header #hgroup {
	float: left;
	width: 42%;
	height: 100%;
}

#logo {
	display: block;
	height: 145px;
	width: 100%;
	margin-bottom: 0px;
}

#logo a, #logo strong {
	display: block;
	text-decoration: none;
	height: 100%;
	width: 100%;
}

#nav-holder {
	float: right;
	margin-top: 24px;
	width: 58%;
}

#lang {
	float: right;
	position: relative;
}

#menu {
	clear: both;
	text-transform: uppercase;
	margin-top: 94px;
}

#menu ul {
	float: right;
}

#menu li {
	position: relative;
	float: left;
}

#menu a {
	display: inline-block;
	text-decoration: none;
	letter-spacing: 1px;
	padding-left: 20px;
	padding-bottom: 11px;
}

#menu li li a {
	display: block;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#menu li:hover ul {
	display: block;
}

#menu .selected a, .selected strong {
	/*	font-weight: bold;*/
	color: #fff;
}

#menu li .selected, #menu li .selected a {

}

#content-wrapper {
	position: relative;
	padding-bottom: 40px;
	padding-top: 30px;
	clear: both;
/*	background-color: #090909;*/
	background-color: #111;
	min-height: 25em;
/*	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, #070707),
		color-stop(0.5, #111),
		color-stop(0.9, #0F0F0F)
		);
	background-image: -moz-linear-gradient(
		center bottom,
			#000 50%,
			#222
		);*/
/*	background-image: -moz-linear-gradient(
		center bottom,
		#070707 10%,
		#111 50%,
		#0F0F0F 90%
		);*/
}

#body_content_left section {
	margin-bottom: 20px;
}

#body_content_left, .left-section {
	float: left;
	width: 640px;
}

#body_content_right, .right-section {
	float: right;
	/*	padding-top: 20px;*/
	width: 320px;
}

.no_body_content_right #body_content_left {
	width: 100%;
}

#calendar {
	float: left;
	width: 50%;
}

#blogs {
	float: right;
	width: 50%;
}

#blogs p {
	margin-bottom: 0px;
}

#calendar .content, #blogs .content {
	margin-bottom: 20px;
	min-height: 300px;
}

#blogs .content div {
	clear: both;
	min-height: 60px;
	margin-bottom: 20px;
}

#footer-wrapper {
	clear: both;
/*	background-color: #0e0e0e;*/
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: solid 1px #222;
}



#footer {
	width: 960px;
	text-align: left;
	margin: auto;
}

#footer section {
	width: 50%;
}

#follow-us {
	float: left;
}

#follow-us .action-button {
	margin-left: 50px;
}

#follow-us a {
	display: inline-block;
	min-width: 160px;
}

#follow-us a .action-button {
	margin-left: 77px;
}

#copy {
	clear: both;
	float: left;
	padding-top: 20px;
}

#mailing-list {
	float: right;
}

#bottom-menu {
	float: right;
	padding-top: 20px;
}

#promo {
	position: relative;
	clear: both;
}

#promo-content {
	height: 450px;
	overflow: hidden;
}

#promo-action {
	float: left;
	height: 100px;
}

#promo-nav {
	float: right;
	height: 100px;
}

#promo-nav .delim {
	display: none;
}

#promo-nav a {
	display: block;
	float: left;
	margin-left: 2px;
	min-width: 50px;
	padding: 0px 20px;
	height: 90px;
	text-decoration: none;
	text-align: center;
}

#promo-nav a:hover, #promo-nav a.active {
	color: #fff;
}

#promo-nav .symbol {
	display: block;
	width: 50px;
	height: 50px;
	margin-top: 5px;
	font-size: 46px;
	margin-bottom: 10px;
	font-weight: lighter;
}

#promo-nav a:hover .symbol {
	font-weight: normal;
}

.promo-item {
	padding-top: 10px;
	background: #000;
	position: relative;
	height: 100%;
}

.promo-text-1, .promo-text-bg-1,
.promo-text-2, .promo-text-bg-2,
.promo-text-3, .promo-text-bg-3,
.promo-text-4, .promo-text-bg-4 {
	position: absolute;
}

.promo-text-bg-1 {
	height: 40%;
	background: #000;
	width: 460px;
	bottom: 0px;
	opacity: 0.75;
}

.promo-text-1 {
	bottom: 15px;
	left: 20px;
	width: 50%;
	font-size: 24px;
	line-height: 1.5em;
}

.promo-text-bg-2 {
	height: 145px;
	background: #000;
	width: 100%;
	opacity: 0.75;
}

.promo-text-2 {
	top: 25px;
	left: 20px;
	width: 100%;
	font-size: 24px;
	line-height: 1.5em;
}

.promo-text-bg-3 {
	height: 145px;
	background: #000;
	width: 500px;
	opacity: 0.75;
	left: 40px;
	bottom: 70px;
}

.promo-text-3 {
	bottom: 70px;
	left: 65px;
	width: 540px;
	font-size: 24px;
	line-height: 1.5em;
}

.promo-text-3 a:link, .promo-text-3 a:active, .promo-text-3 a:visited {
	color: #fff;
	text-decoration: none;
}

.promo-text-3 a:hover {
	text-decoration: underline;
}

.promo-text-bg-4 {
	background: #000;
	height: 180px;
	width: 540px;
	opacity: 0.75;
	left: 200px;
	bottom: 45px;
}

.promo-text-4 {
	bottom: 50px;
	left: 225px;
	width: 560px;
	font-size: 15px;
}

h1, h2, h3 {
	margin-bottom: 25px;
	padding-top: 5px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 15px;
/*	font-weight: normal;*/
}

h4 {
	margin-bottom: 5px;
}

.datetime, details {
	font-family: monospace, serif;
}

#calendar h3 em {
	padding-right: 18px;
	font-size: small;
}

#calendar .categories {
	float: right;
}

#calendar .content {
	padding-right: 20px;
}

#calendar .datetime {
	/*	float: left;*/
}

#calendar .title {
	clear: both;
	display: block;
	padding: 5px 0px;
}
#blog_posts .blog_post .posted_at {
	margin: 0px;
	display: inline;
}

details {
	margin-bottom: 10px;
}

h3 a, h4 a {
/*	text-transform: uppercase;*/
	display: block;
	text-decoration: none;
}

a.il {
	display: block;
	width: 100px;
	margin-right: 15px;
	float: left;
	text-align: center;
}

.button, .button:visited, .button:link {
	background: #222 url(/images/design/button-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.button:hover { background-color: #111; color: #fff; }
.button:active { top: 1px; }
.small.button, .small.button:visited { font-size: 11px; }
.button, .button:visited,
.medium.button, .medium.button:visited { font-size: 13px;
										 line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.button, .large.button:visited { font-size: 15px; padding: 10px 16px 11px; }

.green.button, .green.button:visited { background-color: #91bd09; }
.green.button:hover { background-color: #749a02; }
.blue.button, .blue.button:visited { background-color: #2daebf; }
.blue.button:hover { background-color: #007d9a; }
.red.button, .red.button:visited { background-color: #e33100; }
.red.button:hover { background-color: #872300; }
.magenta.button, .magenta.button:visited { background-color: #a9014b; }
.magenta.button:hover { background-color: #630030; }
.orange.button, .orange.button:visited { background-color: #ff5c00; }
.orange.button:hover { background-color: #d45500; }
.yellow.button, .yellow.button:visited { background-color: #ffb515; }
.yellow.button:hover { background-color: #fc9200; }


#promo-action .button {
	margin-top: 30px;
	margin-left: 36px;
	outline-style: none;
	padding: 13px 22px;
	font-weight: lighter;
}

#promo-action .button:hover {
	-moz-box-shadow: 0 0 5px 1px #2CA1E5;
	-webkit-box-shadow: 0 0 5px 1px #2CA1E5;
	box-shadow: 0 0 5px 1px #2CA1E5;
	font-weight: normal;
}

#promo-action #support {
	left: 36px;
	font-weight: normal;
}

#promo-action #support:hover {
	-moz-box-shadow: 0 0 5px 1px red;
	-webkit-box-shadow: 0 0 5px 1px red;
	box-shadow: 0 0 5px 1px red;
}

#content-wrapper section footer {
	vertical-align: middle;
	line-height: 32px;
/*	padding: 0px 18px;*/
	padding-right: 20px;
}

.msg {
	position: relative;
	padding-left: 20px;
}

.msg .ui-icon {
	position: absolute;
	left: 0px;
	top: 1px;
}

input.text,
input[type=text],
input[type=email],
input[type=password] {
	height: 24px;
	padding: 2px 5px;
	min-width: 310px;
	font-size: 15px;
	border: solid 1px;
	margin-right: 10px;
	background: #222;
}

textarea {
	width: 98%;
	background: #222;
	padding: 2px 5px;
}

input.text:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
	background: #ffc;
	outline:none;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
}

input.submit, input[type=submit] {
	padding: 4px 10px;
}

p a:link {
	text-decoration: underline;
}

.no-underline, .no-underline:link {
	text-decoration: none;
}

form .field {
	margin-bottom: 10px;
	padding-bottom: 5px;
}

form .field label {
	display: block;
	padding-bottom: 5px;
}

#new_inquiry {
	clear: both;
}

#calendar li {
	margin-bottom: 10px;
}

#menu li li {
	float: none;
}

#menu li ul {
	float: none;
	z-index: 100;
	white-space: nowrap;
	display: none;
	position: absolute;
	background: #000;
	padding: 2px 0px 10px 0px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	border: solid 1px #222;
	border-top: none;
}

#menu li:hover ul {
	display: block;
}

section#address {
	width: 100%;
	clear:both;
	padding: 20px 0px;
	margin-bottom: 20px;
	text-align: center;
}

aside {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#like {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 80px;
}

#like div.l {
	margin-bottom: 20px;
}

.vevent {
	list-style: none;
	padding-left: 0px;
	margin-left: 0px;
}

#calendar ul {
	padding-left: 0px;
	margin-left: 0px;
}

span.day {
	display: inline-block;
	min-width: 60px;
}

#contact-address {
	
}


.tabs img {
	max-width: 100%;
}

.tabs a:focus {
	outline: none;
}

.tabs .float-left {
	width: 46%;
}

.tabs .float-right {
	width: 46%;
}

.inquiries .ui-widget {
	font-size: 1em;
	
}

.inquiries .ui-widget-content {
	border: none;
	background: none;
}

.inquiries .ui-tabs .ui-tabs-panel {
	padding: 0px;
}

.inquiries .ui-widget-content a {
	color: #999;
}

#rss_feed_subscribe {
	margin-bottom: 20px;
}

#search-form {
	clear: both;
	float: right;
	position: relative;
	margin-top: 20px;
}

#search-form input.search-button {
	position: absolute;
	right: 7px;
	top: 7px;
}

#query {
	margin-right: 0px;
	min-width: 200px;
}

#cse {
	overflow-x: hidden;
}