html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }

hr {
	height: 1px;
	display: block;
	clear: both;
	border: none;
	background: #555;
	background: -moz-linear-gradient(left, #333, #575757, #333);
	background: -webkit-gradient(linear, left top, right top, from(#333), to(#333), color-stop(0.5, #575757));
	margin-bottom: 16px;
}

input, select { vertical-align:middle; }

legend {
	font-size: 20px;
	margin-bottom: 20px;
}

form table {
	width: 100%;
	vertical-align: middle;
}

form th {
	padding: 5px 0;
}

form td {
	padding: 5px 0;
}


body { 
	font:13px/1.231 Arial, sans-serif;
	text-align: center;
	background: #000;
	color: #fff;	
}

details {
	margin-bottom: 10px;
}

aside {
	padding-bottom: 16px;
	margin-bottom: 32px;
}

pre, code, kbd, samp { font-family: monospace, sans-serif; }

h1,h2,h3,h4,h5,h6 { font-weight: bold; }

h1, h2, h3 {
	margin-bottom: 32px;
	padding-top: 8px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 15px;
}

h4 {
	margin-bottom: 5px;
}

article {
	margin-bottom: 32px;
}

p {
	margin-bottom: 16px;
	line-height: 150%;
}

html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a:link, a:visited { color: #999; text-decoration: none; }
a:hover { color: #efefef; }

ul, ol { margin-left: 20px; }
ol { list-style-type: decimal; }

ol.articles {
	list-style-type: upper-roman;
	padding: 0px;
	margin-left: 32px;
}

nav ul, nav li { margin: 0; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { padding: 18px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: middle; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid { }
.validated input:invalid, .validated textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow .validated input:invalid,
.no-boxshadow .validated textarea:invalid { background-color: #f0dddd; }

a:link { -webkit-tap-highlight-color: #FF5E99; }

button { width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden;	 }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.reset {
	display:block;
	font-size:0;
	line-height:0;
	height:0;
	overflow:hidden;
	clear:both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.left-half {
	float: left;
	width: 49%;
}

.right-half {
	float: right;
	width: 49%;
}

.center {
	text-align: center;
}

.delim {
	color: #333;
}

.clear {
	clear: both;
}

.placeholder .field .placeholder-fallback {
	display: none;
}

#content ul, #content ol {
	line-height: 150%;
}

.outer-cover {
	width: 992px;
	margin: auto;
}

#header, #content, #footer {
	width: 960px;
	margin: 0px auto;
	text-align: left;
}

#header-wrapper {
	border-bottom: solid 1px #444;
}

#header #hgroup {
	float: left;
	width: 40%;
	height: 100%;
}

#logo {
	display: block;
	background-image: url(/images/pb-res1.png);
	background-repeat: no-repeat;
	background-position: 0% 40%;
	height: 140px;
	width: 370px;
	padding: 0px;
	margin: 0px;
	position: relative;
}

#logo a, #logo strong {
	display: block;
	text-decoration: none;
	height: 100%;
	width: 100%;
}

#nav-holder {
	float: right;
	margin-top: 20px;
}

#lang {
	float: right;
	position: relative;
}

#join-us {
	margin-right: 32px;
}

#menu {
	clear: both;
	text-transform: uppercase;
	margin-top: 94px;
	position: relative;
	right: -16px;
	bottom: -1px;
}

#menu ul {
	float: right;
}

#menu li {
	position: relative;
	float: left;
	padding-bottom: 1px;
}

#menu a {
	display: inline-block;
	background: #000;
	text-decoration: none;
	letter-spacing: 1px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 9px;
}

#menu li li a {
	display: list-item;
	padding-left: 25px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#menu li:hover {
	background: -moz-linear-gradient(left center, #444, #999, #444) no-repeat bottom center;
	background: -webkit-gradient(linear, left top, right top, from(#444), to(#444), color-stop(0.5, #999));	
}

#menu li:hover ul {
	display: block;
}

#menu li.selected {
	background: -moz-linear-gradient(left center, #444, #ccc, #444) no-repeat bottom center;
	background: -webkit-gradient(linear, left top, right top, from(#444), to(#444), color-stop(0.5, #ccc));
}

#menu li .selected {
	background: none;
}

menu li .selected:hover {
	background: none;
}

#menu .selected a, .selected strong {
	color: #fff;
}

#menu .selected a {
	
}

#menu .selected li a {
	color: #999;
}

#menu .selected li a:hover {
	color: #fff;
}

#menu li .selected a,
#menu li li a:hover {
	padding-left: 12px;
	list-style-position: inside;
	list-style-type: square;
}

#content-wrapper {
	position: relative;
	padding-bottom: 32px;
	padding-top: 32px;
	clear: both;
	background-color: #333;
	min-height: 25em;
}

#body_content_left section {
	margin-bottom: 32px;
}

#body_content_left, .left-section {
	float: left;
	width: 628px;
}

#body_content_right, .right-section {
	float: right;
	width: 300px;
}

.no_body_content_right #body_content_left {
	width: 100%;
}

#projects {
	margin-bottom: 16px;
	min-height: 200px;
}

#projects .project-wrapper img {
	margin-bottom: 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.project div.body {
	position: relative;
}

#projects .img-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 215px;
	height: 133px;
	-moz-box-shadow: 0px 0px 5px #000 inset;
	-webkit-box-shadow: 0px 0px 5px #000 inset;
	background: -moz-radial-gradient(rgba(0,0,0, 0.01), rgba(0,0,0,0.4) 98%) repeat scroll 0 0 transparent;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-bottom: solid 1px #474747;
}

#projects .project-wrapper {
	width: 215px;
	float: left;
	margin-right: 32px;

}

#projects div.project-wrapper.four {
	margin-right: 0px;
}

.project h4 {
	margin-bottom: 8px;
}

.project {
	margin-bottom: 0px;
}

#calendar {
	background: url(/images/design/events_42.png) no-repeat top right;
	background-size: 42px 42px;
	float: left;
	width: 464px;
}

#blogs {
	float: right;
	width:464px;
	background: url(/images/design/blog_42.png) no-repeat top right;
	background-size: 42px 42px;
}

#blogs p {
	margin-bottom: 0px;
}

#calendar .content, #blogs .content {
	margin-bottom: 16px;
}

#blogs .content div {
	clear: both;
	min-height: 60px;
	margin-bottom: 16px;
}

#footer-wrapper {
	clear: both;
	padding-top: 32px;
	padding-bottom: 32px;
	border-top: solid 1px #222;
}

#footer {
	width: 960px;
	text-align: left;
	margin: auto;
}

#footer section {
	width: 464px;
}

#follow-us {
	float: left;
	background: url(/images/design/follow_32.png) no-repeat 100% 0%;
}

#follow-us .action-button {
	margin-left: 50px;
}

#follow-us a {
	display: inline-block;
	margin-right: 16px;
}

#follow-us a .action-button {
	margin-left: 8px;
}

#copy {
	clear: both;
	float: left;
	padding-top: 20px;
}

#mailing-list {
	float: right;	
	background: url(/images/design/mailinglist_32.png) no-repeat 100% 0%;

}

#order {
	clear: left;
}

#bottom-menu {
	float: right;
	padding-top: 20px;
}

#promo {
	position: relative;
	clear: both;
}

#promo-content {
	height: 450px;
	overflow: hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-bottom: solid 1px #474747;
}

#promo .img-bg {
	position: absolute;
	z-index: -11;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 450px;
	-moz-box-shadow: 0px 0px 5px #000 inset;
	-webkit-box-shadow: 0px 0px 5px #000 inset;
	opacity: 1;
	background: transparent;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#promo-nav {
	float: right;
	height: 100px;
}

#promo-nav .delim {
	display: none;
}

#promo-nav a {
	display: block;
	float: left;
	margin-left: 2px;
	min-width: 50px;
	padding: 0px 12px;
	height: 90px;
	text-decoration: none;
	text-align: center;
}

#promo-nav a:hover, #promo-nav a.active {
	color: #fff;
}

#promo-nav .symbol {
	display: block;
	width: 50px;
	height: 50px;
	margin-top: 5px;
	font-size: 46px;
	margin-bottom: 10px;
	font-weight: lighter;
	text-shadow: 0px -1px 0px #555;
	color: #000;
}

#promo-nav a:hover .symbol, #promo-nav a.active .symbol {
	font-weight: normal;
	color: #999;
	text-shadow: 0px 1px 0px #ccc;
}

.promo-item {
	background: #000;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 450px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

@media only screen and (min-device-width: 920px) {
	.promo-item {
		background: #000 url(/images/content/promo/promo-v2.jpg) no-repeat top left;
	}
}

.js .promo-item {
	display: none;
	position: absolute;
}

.active {
	z-index: 2;
}

.promo-text {
	padding: 16px;
	font-size: 24px;
	line-height: 1.5em;
	position: absolute;
	background: rgba(0,0,0,0.9);
	bottom: 0px;
	left: 0px;
	width: 47%;
}

.promo-text p {
	margin-bottom: 0px;
}

.promo-item-2 .promo-text {
	bottom: 310px;
	left: 0px;
	width: 100%;	
}

.promo-item-3 .promo-text {
	bottom: 70px;
	left: 65px;
	width: 460px;
}

.promo-item-4 .promo-text {
	bottom: 50px;
	left: 225px;
	width: 540px;
	font-size: 17px;
}

#promo-why {
	background-position: -960px 0px;
}

#promo-where {
	background-position: -1920px 0px;
}

#promo-more {
	background-position: -2880px 0px;
}


.datetime, details {
	font-family: monospace, serif;
}

#calendar h3 em {
	font-size: small;
}

#calendar .categories {
	float: right;
}

#calendar .title {
	clear: both;
	display: block;
	padding: 5px 0px;
}

#blog_posts .blog_post .posted_at {
	margin: 0px;
	display: inline;
}

h3 a, h4 a {
	display: block;
	text-decoration: none;
}

a.il {
	display: block;
	width: 100px;
	margin-right: 15px;
	float: left;
	text-align: center;
}

.button, .button:visited, .button:link,
.pagination a, .pagination em, .pagination span
{
	background: #777;
	display: inline-block;
	padding: 5px 10px 6px;
	border: solid 1px #353535;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	position: relative;
	cursor: pointer;
}

.pagination em {
	background-color: #cdcdcd;
	cursor: default;
	color: #222;
	text-shadow: 0px -1px 1px #fff;
}

.pagination span {
	background: transparent;
	cursor: default;
}

.small.button, .small.button:visited { font-size: 11px; }
.button, .button:visited,
.medium.button, .medium.button:visited { font-size: 13px;
										 line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.button, .large.button:visited { font-size: 15px; padding: 10px 16px 11px; }

#promo-action {
	color: #777;
	float: left;
	height: 100px;
	text-align: center;
	width: 50%;
}

#promo-action .button {
	margin-top: 32px;
	outline-style: none;
	padding: 12px 20px;
	font-weight: lighter;
}

a.button:hover {
	background: #999;
	border: solid 1px #373737;
}

a.button:active {
	background: #000;
	border: solid 1px #111;
	border-bottom-color: #555;
	text-shadow: 0px -1px 0px #777;
}

#promo-action #join-us-btn {
	margin-right: 3px;
}

#promo-action #support-us-btn {
	margin-left: 3px;
}


#content-wrapper section footer {
	vertical-align: middle;
	line-height: 32px;
}

.msg {
	position: relative;
	padding-left: 20px;
}

.msg .ui-icon {
	position: absolute;
	left: 0px;
	top: 1px;
}

.flash {
	padding: 16px;
	margin-bottom: 16px;
}

.flash.notice {
	background: #789;
}

.flash.success {
	background: #85C646;
}

.flash.error {
	background: #d67;
}

.form-error {
	color: #d67;
}

form {
	max-width: 627px;
}

input.text,
input[type=text],
input[type=email],
input[type=password] {
	height: 24px;
	padding: 2px 5px;
	min-width: 310px;
	font-size: 14px;
	border: solid 1px #333;
	margin-right: 8px;
	background: #111;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #999;
}

textarea {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 98%;
	height: 7.25em;
	background: #111;
	padding: 5px;
	font-size: 14px;
	border: solid 1px #333;
	color: #999;
}

input.text:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
	background: #ffc;
	color: #222;
	outline:none;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
}

input.submit, input[type=submit] {
	padding: 4px 8px;
}

p a:link {
	text-decoration: underline;
}

.no-underline, .no-underline:link {
	text-decoration: none;
}

form .field {
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.field label {
	display: block;
	padding-bottom: 5px;
}

#new_inquiry {
	clear: both;
}

#calendar li {
	margin-bottom: 16px;
}

#menu li li {
	float: none;
}

#menu li ul {
	float: none;
	z-index: 100;
	white-space: nowrap;
	display: none;
	position: absolute;
	background: #000;
	padding: 2px 0px 10px 0px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	border: solid 1px #222;
	border-top: none;
}

#menu li:hover ul {
	display: block;
}

section#address {
	width: 100%;
	clear:both;
	padding: 16px 0px;
	margin-bottom: 16px;
	text-align: center;
}

#fancybox-content {
	color: #333;
	text-align: left;
}
#fancybox-content a:hover {
	background: #333;
	text-decoration: none;
}

#feedback {
	padding-top: 16px;
}

#feedback a {
	font-size: 15px;
	font-weight: bold;
	padding: 3px 12px; 
	background: #000;
	border: solid 1px #222;
	border-bottom-color: #444;
	margin-right: 16px;
}

.share-btn {
	margin: 8px;
	display: inline-block;
	min-width: 40px;
	min-height: 60px;
	background: url(/images/activity.gif) no-repeat 20% 0%;
}

#share {
	padding: 8px;
}

.vevent {
	list-style: none;
	padding-left: 0px;
	margin-left: 0px;
}

#calendar ul {
	padding-lgieft: 0px;
	margin-left: 0px;
}

span.day {
	display: inline-block;
	min-width: 60px;
}

.tabs img {
	max-width: 100%;
}

.tabs a:focus {
	outline: none;
}

.tabs .float-left {
	width: 46%;
}

.tabs .float-right {
	width: 46%;
}

.inquiries .ui-widget {
	font-size: 1em;
	
}

.inquiries .ui-widget-content {
	border: none;
	background: none;
}

.inquiries .ui-tabs .ui-tabs-panel {
	padding: 0px;
}

.inquiries .ui-widget-content a {
	color: #999;
}

#prevnext_nav {
	text-align: center;
}

#prevnext_nav .prev {
	float: left;
}

#prevnext_nav .next {
	float: right;
}

#body_content_right li {
	margin-bottom: 8px;
}

.ui-slider {
	background: #000;
}

#rss_feed_subscribe {
	margin-bottom: 20px;
}

#search-form {
	clear: both;
	float: right;
	position: relative;
	margin-top: 20px;
}

#search-form input.search-button {
	position: absolute;
	right: 7px;
	top: 6px;
}

#query {
	margin-right: 0px;
	min-width: 180px;
	font-size: 13px;
	height: 22px;
	padding: 1px 4px;
	padding-right: 24px;
}

#cse {
	overflow-x: hidden;
}

.logo-preview {
	text-align: center;
	padding: 16px 0px;
	background: #000;
}

.logo-preview.white {
	background: #fff;
}

.join-box {
	font-size: 116%;
}

.join-box .content {
	padding-top: 20px;
	padding-bottom: 6px;
}

.join-box h2 {
	margin-bottom: 16px;
}

.join-box header,
.join-box .content,
.join-box .footer {
	clear: both;
}

#supporter {
	float: right;
	opacity: 0.6;
}


#supporter:hover {
	opacity: 1;
}

#supporter .button {
	padding: 10px 16px 10px 32px;
	margin-left: 16px;
	
	background-image: url(/images/design/tick.png);
	background-position: 4% 55%;
	background-repeat: no-repeat;
	font-size: 15px;
}

#supporter:hover {
	opacity: 1;
}

#supporter .note {
	font-size: 12px;
	margin-top: 16px;
}

.join-box .price {
	font-size: 113%;
}

.join-box li {
	list-style: none;
	padding-left: 32px;
	line-height: 1.5em;
	margin-left: 0px;
	background: url(/images/design/tick.png) no-repeat 0% 50%;
}

#content .join-box ul {
	margin-left: 0px;
}

#member-description {
	padding-top: 8px;
	width: 640px;
}

#content ul {
	margin-bottom: 20px;
}

#content ul.ui-tabs-nav {
	margin-bottom: 5px;
}

#content form {
	margin-bottom: 20px;
}

#content th label {
	display: block
}

.support-box {
	width: 300px;
	float: left;
	margin-bottom: 50px;
	margin-right: 20px;
}

.support-box .banner {
	height: 200px;
	width: 100%;
	font-size: 15px;
	font-style: italic;
}

.banner p {
	padding: 20px;
}
