.outer-cover {
	width: 640px;
}

#header, #content, #footer {
	width: 600px;
}

#nav-holder {
	width: 100%;
	float: none;
	margin: 0px;
}

#search-form {
    clear: none;
}

#menu ul {
	float: none;
	
}

#menu li {
	float: left;
}

#lang {
	margin-top: 32px;
}

#promo-nav {
	width: 305px;
	float: none;
	margin: auto;
}

#promo-action {
	width: 60%;
	margin: auto;
	float: none;
}

#projects {
	width: 84%;
	margin: auto;
}

#projects .project-wrapper {
	margin-left: 16px;
	margin-right: 16px;
}

#calendar, #blogs {
	margin: auto;
	float: none;
	text-align: left;
}

#calendar {
	border-bottom: solid 1px #555;
	margin-bottom: 24px;
	padding-bottom: 16px;
}

#footer section {
/*	margin: auto;*/
	float: none;
}

#follow-us, #mailing-list, #address {
	float: none;
	margin: auto;
	clear: both;
}

#follow-us {
	padding-bottom: 8px;
	margin-bottom: 16px;
	border-bottom: solid 1px #555;
}
