.discount {
/*	display: block;
	border: solid 1px #fff;
	padding: 7px 10px;
	-moz-transform: rotate(45deg);
	width: 100px; 
	position: relative;
	right: -20px;
	top: -20px;
	float: right;
	background: #000;
	line-height: 1.2em;*/
}

.join-box {
	float: left;
}

.join-box header,
.join-box .content,
.join-box .footer {
	clear: both;
}

#supporter-promo {
	float: right;
}

.price {
}

#content ul {
	margin-bottom: 20px;
}

#content ul.ui-tabs-nav {
	margin-bottom: 5px;
}

#content form {
	margin-bottom: 20px;
}

legend {
	font-size: 20px;
	margin-bottom: 20px;
}

form table {
	width: 100%;
	vertical-align: middle;
}

form th {
	padding: 5px 0;
}

form td {
/*	width: 80%;*/
	padding: 5px 0;
}

#content th label {
	display: block
}

.support-box {
	width: 300px;
	float: left;
	margin-bottom: 50px;
	margin-right: 20px;
/*	background: #fff;*/
}

.support-box .banner {
	height: 200px;
	width: 100%;
	font-size: 15px;
	font-style: italic;
}

.banner p {
	padding: 20px;
}

#sponzoring-box .banner {
	background: #1B2110;
}

#shop-box .banner {
	background: #2E3539;
}

#propagation-box .banner {
	background: #3A2C34;
}

#sponzoring, #shop, #propagation {
	height: 25em;
}

.clear {
	clear: both;
}

form {
	max-width: 627px;
}