
.join-box {
	float: left;
	font-size: 116%;
}

.join-box .content {
	padding-top: 20px;
	padding-bottom: 6px;
}

.join-box h2 {
	margin-bottom: 16px;
}

.join-box header,
.join-box .content,
.join-box .footer {
	clear: both;
}

#supporter-promo {
	float: right;
}

#supporter-promo  {
	opacity: 0.5;
}

#supporter-promo:hover {
	opacity: 1;
}

#supporter-promo:hover {
	opacity: 1;
}

#supporter-promo .note {
	font-size: 12px;
	margin-top: 16px;
}

.join-box .price {
	font-size: 113%;
}

.join-box li {
	list-style: none;
	padding-left: 32px;
	line-height: 1.5em;
	margin-left: 0px;
	background: url(/images/design/tick.png) no-repeat 0% 50%;
}

#content .join-box ul {
	margin-left: 0px;
}

#member-description {
	padding-top: 8px;
	width: 640px;
}

#content ul {
	margin-bottom: 20px;
}

#content ul.ui-tabs-nav {
	margin-bottom: 5px;
}

#content form {
	margin-bottom: 20px;
}

legend {
	font-size: 20px;
	margin-bottom: 20px;
}

form table {
	width: 100%;
	vertical-align: middle;
}

form th {
	padding: 5px 0;
}

form td {
	padding: 5px 0;
}

#content th label {
	display: block
}

.support-box {
	width: 300px;
	float: left;
	margin-bottom: 50px;
	margin-right: 20px;
}

.support-box .banner {
	height: 200px;
	width: 100%;
	font-size: 15px;
	font-style: italic;
}

.banner p {
	padding: 20px;
}

#sponzoring-box .banner {
	background: #1B2110;
}

#shop-box .banner {
	background: #2E3539;
}

#propagation-box .banner {
	background: #3A2C34;
}

#sponzoring, #shop, #propagation {
	height: 25em;
}

form {
	max-width: 627px;
}