.outer-cover {
	width: 480px;
}

.left-half, .right-half {
	width: 100%;
	float: none;
	clear: both;
}

#body_content_left, .left-section, #body_content_right, .right-section {
	float: none;
	width: 100%;
	clear: both;
}

#header #hgroup {
	width: 100%;
	margin-bottom: 8px;
}

#header, #content, #footer {
	width: 464px;
}

#nav-holder {
	width: 100%;
	float: none;
	margin: 0px;
}

#search-form {
    clear: none;
	float: left;
	margin: 0px;
	margin-bottom: 8px;
}

#menu {
	right: 0px;
}

#menu a {
	padding-left: 14px;
	padding-right: 14px;
}

#menu ul {
	float: none;	
}

#menu li {
	float: left;
}

#promo-nav {
	width: 305px;
	float: none;
	margin: auto;
}

#promo-action {
	width: 80%;
	margin: auto;
	float: none;
	height: auto;
}

#promo-action .button {
	margin-top: 0px;
	margin-bottom: 16px;
}

#promo .promo-item {
	background: #000 url(/images/content/promo/4s.jpeg) no-repeat top left;
}

#projects {

	margin: auto;
}

#projects .project-wrapper {
	margin-left: 8px;
	margin-right: 8px;
}

#calendar, #blogs {
	margin: auto;
	float: none;
	text-align: left;
}

#calendar {
	margin-bottom: 24px;
	padding-bottom: 16px;
}

#footer section {
	float: none;
}

#follow-us, #mailing-list, #address {
	float: none;
	margin: auto;
	clear: both;
}

#member-promo, #follow-us, #calendar {
	padding-bottom: 8px;
	margin-bottom: 16px;
	border-bottom: solid 1px #555;
}

#promo-content, .promo-item {
    height: 210px;
}

#promo .img-bg {
	display: none;
}

#member-description {
	width: 100%;
	padding: 0px;
}

#promo .promo-text {
    font-size: 15px;
    
	padding: 16px;
	width: auto;
	bottom: 0px;
	left: 0px;
}

#promo .promo-item-4 .promo-text {
	font-size: 13px;
}
