

<%= form_for MailInfo.new, :url => @page.url, :html => {:method => :get } do |f| %>
  <div class="frm">
    <h3><%= raw page.form_title.blank? ? 'Kontaktujte nás' : page.form_title %></h3>
    <p class="note">Pošlete nám vyplněný formulář a buďte ve střehu - do 2 hodin se vám ozveme.</p>
    <div class="relative">
      <div class="component left">
        <%= f.label :username, 'Jméno *' %>
        <div class="container"><%= f.text_field :username, :placeholder => 'Jméno *', :required => 'required' %></div>
      </div>
      <div class="component tel-holder">
        <div class="tel">222 518 842</div>
        <%= link_to 'Další kontaktní informace', Page.find(Page::CONTACT).url, :class => 'more-button' unless @page.contact? %>
      </div>
      <div class="component left">
        <%= f.label :email, 'E-mail *' %>
        <div class="container"><%= f.email_field :email, :placeholder => 'E-mail *', :required => 'required' %></div>
      </div>
      <div class="component left">
        <%= f.label :telephone, 'Telefon' %>
        <div class="container"><%= f.phone_field :telephone, :placeholder => 'Telefon' %></div>
      </div>
      <div class="component" style="clear: both;">
        <%= f.label :message, 'Jak vám můžeme pomoci? *' %>
        <div class="container"><%= f.text_area :message, :placeholder => 'Jak vám můžeme pomoci? *', :required => 'required' %></div>
      </div>
    </div>
    <p>
      <span class="info">Údaje označené hvězdičkou (*) jsou povinné.</span>
      <%= f.hidden_field :sender, :value => @page.title %>
      <%= f.submit 'Odeslat', :class => 'button send right' %>
    </p>
  </div>
<% end %>
