<section id="promo">
  <div id="promo-content">
    <div id="promo-what" class="promo-item promo-item-1">
      <span class="promo-text-bg-1">&#160;</span>
      <div class="promo-text-1">
        <h2>Vitajte na stránkach</h2>
        <p>prvého slovenského <a href="http://en.wikipedia.org/wiki/Hackerspace">hackerspace</a> <br /><strong>progressbar.sk</strong>
        </p>
      </div>
      <img alt="promo ilustration" class="promo-img" src="/images/content/promo/1<%= ['a', 'b'].sample %>.jpg" />
    </div>
    <div id="promo-why" class="promo-item promo-item-2">
      <span class="promo-text-bg-2">&#160;</span>
      <div class="promo-text-2">
        <p><strong>Sme</strong> prvým fyzickým priestorom v <strong>Bratislave</strong> pre stretávanie <strong>hackerov</strong>,
          <br />digitálnych <strong>umelcov</strong>, geekov, hardvérových <strong>mágov</strong>

          <br />a <strong>podobne</strong> zmýšľajúcich <strong>ľudí</strong>. </p>
      </div>
      <img alt="promo ilustration" class="promo-img" src="/images/content/promo/2.jpg" />
    </div>
    <div id="promo-where" class="promo-item promo-item-3">
      <span class="promo-text-bg-3">&#160;</span>
      <div class="promo-text-3">
        <p><a href="/contact">Nachádzame sa v centre <strong>Bratislavy</strong>
            <br /> na <strong>Cukrovej 14</strong>, blízko medickej záhrady<br /> a autobusovej stanice <strong>Mlynské Nivy</strong>.</a>
        </p>
      </div>
      <img alt="promo ilustration" class="promo-img" src="/images/content/promo/3.jpg" />
    </div>
    <div id="promo-more" class="promo-item promo-item-4">
      <span class="promo-text-bg-4">&#160;</span>
      <div class="promo-text-4">
        <p>Pravidelne sa u nás konajú zaujímavé prednášky, <br />workshopy a stretnutia rôznych komunít.</p>
        <p>Snažíme sa byť maximálne otvorení a vítame nových aktívnych členov, <br />
          prídite na jednu z našich stretávok alebo akcií. <br />
          Väčšina akcií Progressbaru je zadarmo.
        </p>
      </div>
      <img alt="promo ilustration" class="promo-img" src="/images/content/promo/4.jpg" />
    </div>
    <span class="img-bg">&nbsp;</span>
  </div>
  <nav id="promo-nav">
    <a href="#promo-what">
      <span class="symbol">α</span>
      Čo</a>
    <span class="delim">&#160;|&#160;</span>
    <a href="#promo-why">
      <span class="symbol">ω</span>
      Prečo</a>
    <span class="delim">&#160;|&#160;</span>

    <a href="#promo-where">
      <span class="symbol">×</span>
      Kde</a>
    <span class="delim">&#160;|&#160;</span>
    <a href="#promo-more">
      <span class="symbol">&gt;</span>
      Viac</a>
  </nav>
  <div id="promo-action">
    <a href="/join-us" class="button large">Pridaj sa k nám&#160;»</a>
    <a class="button greenno large" id="support" href="/podporte-nas">Podporte nás!</a>
  </div>

  <div class="reset">&#160;</div>
</section>