<section id="body_content" class="no_body_content_left">
  <%= render :template => '/templates/calendar_home' %>
  <%= render :template => '/templates/blog_home' %>
  <div class="reset">&#160;</div>
</section>
