<h1 style="margin-top: 0px;">
  Novinky na webe
</h1>
<p>Od spustenia novej verzie webu prebehlo pár noviniek o ktoré by sme sa s Vami radi podelili.</p>

<h2>

  Update sekcie kalendár

</h2>
<p>
  <a href="https://www.progressbar.sk/events" >Sekcia kalendár </a> sa dočkala prvej zásadnej a očakávanej aktualizácie. <br />
  Zlepšil sa ako prehľad udalostí tak aj výpis jednotlivých akcií a pribudli nové navigačné prvky. <br />
  Užívajte a bugreportujte!
</p>
<h2>
  Prvý pull request
</h2>
<p>
  Tým, že zdrojáky webu progressbaru sú k dispozícii každému na <a href="https://github.com/Progressbar/web">Github-e</a>, ktokoľvek môže prispieť k vylepšeniu alebo pridaniu novej funkčnosti. <br />
  Tento týždeň sme zaznamenali prvý cudzí kus kódu vďaka ktorému v sekcii <a href="https://www.progressbar.sk/pridaj-sa#supporter">podporte nás</a> pribudla možnosť bitcoin.
  (thnx to <a href="https://github.com/jooray">Juraj D.</a>).
  Ak by sa niekomu nechcelo bitcoin účet progressbaru hľadať na webe, ale chcel by prispieť má možnosť: <strong>18qKmRKFTGzdEW5GiBnwmCdLN54813ceN3</strong> ;-).
</p>
<h2>
  Video archív
</h2>
<p>
  Obľúbenú sekciu "Mačiatka a makaky" nahradila sekcia so <a href="https://www.progressbar.sk/video-archiv">záznamami z prednášok a akcii</a> uskutočnených v Progressbare.
  (thnx to Matej N.)
</p>
<h2>
  Výzvy
</h2>
<p>
  Stále chýbajú texty k niektorým sekciám a prezentácie projektov. <br />
  Vítaný sú i dobrovoľníci na jazykové korektúry, preklady, grafiku a podobne.
</p>
<hr />
<a href="mailto:info@progressbar.sk">info@progressbar.sk</a> | Tento e-mail sa nachádza aj na <a target="_blank" href="https://www.progressbar.sk/newsletters/1">www.progressbar.sk/newsletter/1</a>
