<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" >
      <thead>
        <tr>
          <td>
            <a target="_blank" href="https://www.progressbar.sk">
              <img width="400" border="0" height="135" alt="Progressbar Hackerspace Logo - white" src="https://www.progressbar.sk/images/progressbar_white.png">
            </a>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="600" style="padding: 32px 18px; font-family: Helvetica, Arial, sans-serif; font-size: 13px;" >
            <%= raw @newsletter %>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>