<% flash.each do |m, k| %>
  <div class="flash <%= m %>" >
    <%= k %>
  </div>
<% end %>
<% hide_sections = [:body_content_title] %>
<%= render_content_page(@page, {
    :hide_sections => local_assigns[:hide_sections],
    :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
  }) %>
<%= render :partial => '/refinery/draft_page_message' unless @page.nil? or @page.live? -%>
