
a.il {
    display: block;
    width: 100px;
    margin-right: 15px;
    float: left;
    text-align: center;
}

.button, .button:visited, .button:link,
.pagination a, .pagination em, .pagination span
{
    background: #6F6F6F;
    box-shadow: 0px 5px 15px #111;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
    position: relative;
    cursor: pointer;
}

.button.disabled {
    background: none;
}

.pagination span {
    box-shadow: none;
    padding-left: 6px;
    padding-right: 6px;
}

.pagination a, .pagination em {
    text-align: center;
    min-width: 14px;
}

.pagination a:link {
    color: #ccc;
}

.pagination a:hover {
    color: #fff !important;
}

.pagination em {
    background-color: #cdcdcd;
    cursor: default;
    color: #222;
    text-shadow: 0px -1px 1px #fff;
}

.pagination span {
    background: transparent;
    cursor: default;
}

.small.button, .small.button:visited { font-size: 11px; }

.button, .button:visited, .medium.button, .medium.button:visited {
    font-size: 13px;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.large.button, .large.button:visited {
    font-size: 15px;
    padding: 10px 16px 11px;
}

a.button:hover { }

a.button:active {
    position: relative;
    top: 3px;
    border-bottom-width: 1px;
}
