#projects {
    margin-bottom: 16px;
    min-height: 200px;
}

#projects .project-wrapper img {
    margin-bottom: 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.project div.body {
    position: relative;
}

#projects .img-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 215px;
    height: 133px;
    -moz-box-shadow: 0px 0px 5px #000 inset;
    -webkit-box-shadow: 0px 0px 5px #000 inset;
    background: -moz-radial-gradient(rgba(0,0,0, 0.01), rgba(0,0,0,0.4) 98%) repeat scroll 0 0 transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-bottom: solid 1px #474747;
}

#projects .project-wrapper {
    width: 215px;
    float: left;
    margin-right: 32px;
}

#projects div.project-wrapper.four {
    margin-right: 0px;
}

.project h4 {
    margin-bottom: 8px;
}

.project {
    margin-bottom: 0px;
}

#follow-us a {
    display: inline-block;
    margin-right: 16px;
}

#bottom-menu {
    float: right;
}

#promo {
    position: relative;
}

#promo-nav .delim { display: none; }

#promo-action {
    height: 110px;
}

#promo-nav a {
    display: block;
    float: left;
    margin-left: 2px;
    min-width: 50px;
    padding: 0px 12px;
    height: 90px;
    text-decoration: none;
    text-align: center;
}

#promo-nav a:hover, #promo-nav a.active {
    color: #fff;
}

#promo-nav .symbol {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-top: 12px;
    font-size: 46px;
    margin-bottom: 10px;
    font-weight: lighter;
    text-shadow: 0px -1px 0px #555;
    color: #000;
}

#promo-nav a:hover .symbol, #promo-nav a.active .symbol {
    font-weight: normal;
    color: #999;
    text-shadow: 0px 1px 0px #ccc;
}

#promo-why {
    background-position: -932px 0px;
}

#promo-where {
    background-position: -1892px 0px;
}

#promo-more {
    background-position: -2852px 0px;
}

#promo-action .button {
    margin-top: 32px;
    outline-style: none;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: lighter;
    margin-left: 32px;
    background: #009000;
    border-bottom: solid 5px #006400;
    min-width: 180px;
    text-align: center;
}

#promo-action .button:hover {
    background-color: #079A07;
}

#promo-action .button:active {
    border-bottom-width: 1px;
}

#content-wrapper section footer {
    vertical-align: middle;
    line-height: 32px;
}

#new_inquiry {
    clear: both;
}

#license {
    clear: both;
    margin-bottom: 20px;
}

.logo-preview {
    text-align: center;
    padding: 16px 0px;
    background: #000;
}

.logo-preview.white {
    background: #fff;
}

.join-box .content {
    padding-top: 20px;
    padding-bottom: 6px;
}

.join-box header,
.join-box .content,
.join-box .footer {
    clear: both;
}

.join-box .price {
    font-size: 114.5%;
}

.join-box .content ul {
    margin-left: 0px;
}

.join-box .content li {
    list-style: none;
    padding-left: 32px;
    margin-bottom: 6px;
    background: url(/assets/design/tick.png) no-repeat 0% 50%;
}

#supporter {
    float: right;
    opacity: 0.7;
}

#supporter:hover {
    opacity: 1;
}

#supporter .button {
    padding: 10px 16px 10px 32px;
    margin-left: 16px;
    background: url(/assets/design/tick.png) no-repeat 4% 55%;
    font-size: 15px;
}

#supporter .note {
    margin-top: 16px;
}

#member-description {
    padding-top: 8px;
    width: 640px;
}

.support-box {
    width: 300px;
    float: left;
    margin-bottom: 50px;
    margin-right: 20px;
}

.support-box .banner {
    height: 200px;
    width: 100%;
    font-size: 15px;
    font-style: italic;
}

.banner p {
    padding: 20px;
}

.sidebar_module {
    padding-bottom: 8px;
    margin-bottom: 8px;
}

#follow-us {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACJ0lEQVRYw+3XO2jbQBgH8AwdMmTI1kA7esjQoYMphWYoJGsgQ4YOHUonmfoh2/iFX7KFn3Itv9+QsUMCmTJ5CWRIIEOGLIF2y+Chg0YPHr7+DyQQwnaUWHYXH/yQfPruvrvzSZY3NtZlXZZcBEF4NRgMvsCvfr//eaXJkfRdt9u97/V6pJJWlrzT6XDtdnsMpMFg9kx30Gq1jprN5nu2hM9N3mg0eLQlg6HpDmq1mgzE1Ov1MY7XrA7nX9GR7Ym2vNZW5y+8NZVclmWhUqnQE5RqtTrEUUQ8W6kdtS0/JXaC+gPTsy+Xy3Y4hQnQM4ym1LHkxy/aRIVC4YMkSQLclkoleoERcAvv5kwm87pYLH6HMxgDmTDCBDjLby10up/P53/CA9AsuVzuZtlPt61sNithdWgWxGwvbQDpdPoTXIqiSLOkUqnDZc2ePZwugObBACJWJtzWlj6RSFwB6dwlk0nJUEfxePx84eTRaJQHUv1Wkc4VGxQbIM7H+muxWOxxoeThcNgWiURojlMk3tTFnxhjAoHAzkKDCAaDdnRcD4VCCpDOtfFHisUaYgh1R1btg03MRgRS3U2LQ/2tLoYRLdv9Xq/X5vf7/wCBgs9vjDE+n++Hel1zbuktyPP8CRITTKZ9v2ylcE1RYxjF0gF4PJ49mLhcruM5MbLb7SYNWzlLB4Hkc18snE7nLpCOfeVvwg6HYwgE/H95FUfijxzHfVv/KVkXM+UfkEdhK3gEoo8AAAAASUVORK5CYII=') no-repeat 100% 0%;
}

#mailing-list {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAACiklEQVRIx+2WO4gTURSGt0ixxaIiW6RMK1iksJFNMciCosJaiFhslXdCHjN5h7wzhIQkZEAI2xkkhcWiFitsowSJsILCIhZrpyhoISK4hcUK139glHtPJg/XKSx24GPm/ue/55zcuXPJ0tLJZXINBoNlTdMcVtHv9+0LF+/1ehfAF8AsZh+NrCzaxEa3230GmBV0Op2H4OLMou12+zoZ28EIsH8Bhber1eqfX45nGzSJFre3Wi0GNN3Am5vN5pYROw4qXwersQptjJw7QgONRsMJmMFQH5O4Aj5ynnl8AFGS4zJ4YsT3JxpQVZVxPK3Vatd4T71evwVeEJ8Zr+C7TeZuQn/NecQGsNROwAhv0YSP95VKpTXoD0y8v9kFl/g5yKGAT8Q32UC5XGYUFPyOO8LVU5zXAe0O9VYqlXuIned8ZzG/CX6a5BYbKBaLUqFQYNNAfIffyfoFXQZHhmeLbN4Vfc6MnCOhgVwuJ+XzeTYLePbopwttHTGZ6tB25+QTG0in085sNsumkclknuO+sehpCq8LPJ6RU3wFqVRKQhNsCi+BcJajoRtmRelrQN7xlJyjiQaSySQzYTscDvOn2HIikRgasUeyLJ/Ri0JLGdqY+G3Q7pvkFRtAIklRFEZQyWuywzcmnh/gG9EO6IphXof3YDzRgDMWizGD9/F4PMLHoV2NRqMjzjOPMfzCQYacaehf9TiexT0QiUQkwMBnLKGLj2F8BfqhEf8bDk1y3TRyiSvg9/tXQ6HQm2Aw6OB1aEFMOsKdHQd9rl6UNOFCbDjx6dDNEwgENMCsAD9QJievbeo37PV6z4G7Pp+PWQlyNtHI6bmHiMfjSbnd7gPwzkqQdw/39f/uD/AvPDQf3AcbddgAAAAASUVORK5CYII=') no-repeat top right;
}

#feedback {
    height: 60px;
    margin-bottom: 42px;
}

#copy {
    float: left;
}

.outer-cover {
    width: 95%;
    text-align: center;
    margin: auto;
}

#header, #page, #footer {
    margin: 0px auto;
    text-align: left;
}

#header-features {
    padding: 10px 0px;
    float: right;
    width: 300px;
}

.ui-datepicker-calendar th {
    background:#2c2c2c;
}

.ui-datepicker td a {
    background: #111;
}

.ui-datepicker td a:hover {
    background: #090909;
}