html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}

hr {
    height: 1px;
    display: block;
    clear: both;
    border: none;
    background: #555;
    background: -moz-linear-gradient(left, #333, #575757, #333);
    background: -webkit-gradient(linear, left top, right top, from(#333), to(#333), color-stop(0.5, #575757));
    margin-bottom: 16px;
}

body {
    font: 14px Arial, sans-serif;
    line-height: 150%;
    background: #000;
    color: #fff;
}

details {
    margin-bottom: 10px;
}

.datetime, details {
    font-family: monospace, serif;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background: #1a1a1a;
}

th, td {
    padding: 6px 16px;
}

aside {
    padding-bottom: 16px;
    margin-bottom: 32px;
}

pre, code, kbd, samp { font-family: monospace, sans-serif; }

h1 {
    padding-top: 12px;
    font-size: 24px;
    margin-bottom: 32px;
}

h2 {
    font-size: 20px;
    margin-bottom: 24px;
    padding-top: 10px;
}

h3 {
    font-size: 16px;
    margin-bottom: 18px;
    padding-top: 8px;
}

h4 {
    margin-bottom: 5px;
}

article {
    margin-bottom: 32px;
}

p {
    margin-bottom: 21px;
}

dt {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 108%;
}

dd {
    padding: 8px 16px;
}

/* forms and inputs */

form {
    max-width: 627px;
}

input.text,
input[type=text],
input[type=email],
input[type=password] {
    height: 24px;
    padding: 2px 5px;
    max-width: 310px;
    font-size: 16px;
    border: solid 1px #333;
    margin-right: 8px;
    background: #111;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #999;
}

textarea {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 98%;
    height: 7.25em;
    background: #111;
    padding: 5px;
    font-size: 16px;
    border: solid 1px #333;
    color: #999;
}

input.text:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
    background: #ffc;
    color: #222;
    outline:none;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
}

input.submit, input[type=submit] {
    padding: 4px 8px;
}

form .field {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.field label {
    display: block;
    padding-bottom: 5px;
}

.no-placeholder .placeholder-fallback,  .no-placeholder .field .placeholder-fallback {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
}

.placeholder-fallback, .field .placeholder-fallback {
    display: none;
}

input, select { vertical-align:middle; }

legend {
    font-size: 20px;
    margin-bottom: 20px;
}

form table {
    width: 100%;
    vertical-align: middle;
}

form th {
    padding: 5px 0;
}

form td {
    padding: 5px 0;
}

html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a:link, a:visited { color: #999; text-decoration: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
a:hover { color: #efefef; }

ul, ol { margin-left: 20px; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { padding: 18px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: middle; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid { }
.validated input:invalid, .validated textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow .validated input:invalid,
.no-boxshadow .validated textarea:invalid { background-color: #f0dddd; }

button { width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

/* editor and non semantic styles */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden;	 }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.image-align-left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.image-align-right {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.font-size-small {
    font-size: 0.75em;
}

.font-size-large {
    font-size: 1.235em;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-justify {
    text-align: justify;
}

.center {
    text-align: center;
}

.delim {
    color: #333;
}

.clear {
    clear: both;
}

.note {
    font-size: 12px;
}

.third {
    width: 33%;
}

.active {
    z-index: 2;
}

/* messages */

.msg {
    position: relative;
    padding-left: 20px;
}

.flash {
    padding: 16px;
    margin-bottom: 16px;
}

.flash.notice, .flash.info {
    background: #789;
}

.flash.success {
    background: #85C646;
}

.flash.error {
    background: #873e49;
}

.form-error {
    color: #873e49;
}

#header-wrapper {
    border-bottom: solid 1px #444;
}

#logo {
    display: block;
    background-image: url(/assets/progressbar_logo_black_white.png);
    background-repeat: no-repeat;
    background-position: -18px -139px;
    height: 140px;
    width: 370px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#logo a, #logo strong {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

a.highlight:link, a.highlight:visited,
.highlight .header h3 a:link,
.highlight .header h3 a:visited  {
    color: #079A07;
    font-weight: bold;
    text-shadow: 0px 0px 2px darkgreen;
}

#today-event, #upcoming-event, #door-status {
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#lang {
    float: right;
}

#lang a {
    opacity: 0.7;
}

#lang a:hover {
    opacity: 1;
}

#menu {
    clear: both;
    text-transform: uppercase;
    position: relative;
    bottom: -1px;
}

#menu li {
    position: relative;
    float: left;
    padding-bottom: 1px;
}

#menu li:hover {
    background: -moz-linear-gradient(left center, #444, #999, #444) no-repeat bottom center;
    background: -webkit-gradient(linear, left top, right top, from(#444), to(#444), color-stop(0.5, #999));
}

#menu a {
    display: inline-block;
    background: #000;
    text-decoration: none;
    letter-spacing: 1px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 9px;
}

#menu li ul {
    float: none;
    z-index: 100;
    white-space: nowrap;
    display: none;
    position: absolute;
    background: #000;
    padding: 2px 0px 10px 0px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    border: solid 1px #222;
    border-top: none;
}

#menu li:hover ul {
    display: block;
}

#menu li li {
    float: none;
}

#menu li li a {
    display: list-item;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu li:hover ul {
    display: block;
}

#menu li.selected {
    background: -moz-linear-gradient(left center, #444, #ccc, #444) no-repeat bottom center;
    background: -webkit-gradient(linear, left top, right top, from(#444), to(#444), color-stop(0.5, #ccc));
}

#menu li .selected {
    background: none;
}

menu li .selected:hover {
    background: none;
}

#menu .selected a, .selected strong {
    color: #fff;
}

#menu .selected li a {
    color: #999;
}

#menu .selected li a:hover {
    color: #fff;
}

#menu li .selected a,
#menu li li a:hover {
    padding-left: 12px;
    list-style-position: inside;
    list-style-type: square;
}

#page-wrapper {
    position: relative;
    padding-bottom: 32px;
    padding-top: 32px;
    clear: both;
    background-color: #222;
    min-height: 25em;
}

#page ul, #page ol, #page form {
    margin-bottom: 20px;
}

#page th label {
    display: block
}

#footer-wrapper {
    clear: both;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: solid 1px #222;
}

h3 a, h4 a {
    display: block;
    text-decoration: none;
}

p a:link {
    text-decoration: underline;
}

#errorExplanation {
    padding: 16px 32px;
    background: #a80000;
    margin-bottom: 32px;
    border: solid 2px #DD6677;
}


@media only screen and (min-width: 960px) {

#body {
    clear: left;
    float: left;
    width: 628px;
}

.no_side_body #body {
    width: 100%;
}

#side_body {
    float: right;
    width: 300px;
}

.outer-cover {
    width: 992px;
}

#header, #page, #footer {
    width: 960px;
}

#hgroup {
    float: left;
}

#footer section {
    width: 464px;
}

#follow-us {
    float: left;
}

#mailing-list {
    float: right;
}

.js .promo-item { display: none; position: absolute; }
.promo-item {
    background: #000 url(/assets/content/promo/promo-v2.jpg) no-repeat top left;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 450px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.promo-text {
    padding: 32px;
    font-size: 24px;
    line-height: 1.5em;
    position: absolute;
    background: rgba(0,0,0,0.9);
    bottom: 0px;
    left: 0px;
    width: 47%;
}

.promo-text p:last-child {
    margin-bottom: 0px;
}

.promo-item-2 .promo-text {
    bottom: 280px;
    left: 0px;
    top: 0px;
    width: 100%;
}

.promo-item-3 .promo-text {
    bottom: 70px;
    left: 65px;
    width: 460px;
}

.promo-item-4 .promo-text {
    bottom: 50px;
    left: 225px;
    width: 520px;
    font-size: 17px;
}

#promo-content {
    height: 450px;
    overflow: hidden;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-bottom: solid 1px #474747;
}

#promo .img-bg {
    position: absolute;
    z-index: -11;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 450px;
    -moz-box-shadow: 0px 0px 5px #000 inset;
    -webkit-box-shadow: 0px 0px 5px #000 inset;
    opacity: 1;
    background: transparent;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#promo-nav {
    display: block;
    float: right;
    height: 100px;
}

#promo-action {
    float: left;
    width: 50%;
}

.left-half {
    float: left;
    width: 48.5%;
}

.right-half {
    float: right;
    width: 48.5%;
}

#body .left-half, #body .right-half {
    width: 47.5%;
}

}
